[2015-10-12 13:37] sharwell commented on #1617
Thanks for the :bug: report. The example here should not produce SA1010.

[2015-10-12 15:25] NikGovorov opened #1618 "Build performance concerns."
I've got a small project that takes 3 seconds to compile without stylecop analyzers, adding them to the project increases compilation time to 13 seconds. It's not an issue for CI or manual(command line) build, but I definitely would not expect 400% percent longer builds in Visual Studio during development time especially taking into account that validation happens in background during file editing

[2015-10-12 15:46] sharwell commented on #1618
Build performance is a big concern for us.

Can you clarify what you mean by "It's not an issue for CI or manual(command line) build"? I interpreted this as "Adding StyleCop.Analyzers did not slow down CI or command line builds".

What version of StyleCop.Analyzers do you have installed?

Did you install Visual Studio 2015 Update 1 CTP, or are you running the original Visual Studio 2015 release?

[2015-10-12 16:02] sharwell opened #1619 "Expected SA1116 for single argument spanning lines"
**Source:**

[code]

**Expected:**

I expected SA1116 to be reported for the `() =>` part of the argument to `StartNew`.

**Actual:**

SA1116 was not reported.

**StyleCop Classic behavior for this input:**

Unknown.

[2015-10-12 16:05] sharwell opened #1620 "SA1116 code fix does not indent multi-line argument"
### Source code

[code]

### Action

Invoke SA1116 code fix on `() =>`.

### Expected

[code]

### Actual

[code]

[2015-10-12 19:08] peteri commented on #1535
Not sure #pragma works for stylecop warnings, normally you'd use a `SupressMessage` attribute on the code element but that won't work as it's at the top of the file.

Global suppressions like this:
`[assembly: System.Diagnostics.CodeAnalysis.SuppressMessage("StyleCop.CSharp.DocumentationRules", "SA1633:File must have header", Justification = "Peters test", Scope = "namespace", Target = "~N:ClassLi

[2015-10-12 19:11] sharwell commented on #1535
@peteri `#pragma warning` was expanded in C# 6 to support diagnostic IDs reported by analyzers, in addition to the compiler-reported warning numbers supported in C# 5 and earlier.

[2015-10-13 00:46] NikGovorov commented on #1618
It takes exact same time(so using StyleCop.Analyzers slows down it), by 'not an issue' I meant that I'm personally OK the fact that it's slower than in regular dev process, because my CI builds also do fxcop and resharper cli, so StyleCop.Analyzers is not the slowest thing in my build script :) and happen less frequently than builds from Visual  Studio during development.

I used latest from nuget

[2015-10-13 12:12] peteri commented on #1535
@sharwell Didn't realise that (I really should read up on all the changes). I assume this is an issue with the underlying model in VS2015.

[2015-10-13 12:21] sharwell commented on #1535
:thought_balloon: The issue might be this warning is reported on the first character in the file, and there is no way to place a `#pragma` line before the first character.

[2015-10-13 14:08] peteri commented on #1535
I think you're probably right. I suspect it should only be allowed for the specific warning rather than for all `#pragmas`  (are there any others that would get reported for a first line? I can't think of any apart from trailing spaces at the end of a file)

[2015-10-13 18:52] vweijsters commented on #1619
StyleCop classic does not report any diagnostic for this fragment

[2015-10-13 22:19] jessehouwing opened #1623 "SA1009,1111,1114,1115 trigger when using compiler directives in method signatures"
Unfortunately due to Microsoft renaming a bunch of interfaces, we had to use compiler directives to pick the right interface for the version being compiled.

It would be great if Stylecop would ignore compiler directive lines and not treat them as whitespace.

[code]

And:

[code]

[2015-10-14 01:33] fubar-coder commented on #1143
I'd be fine with the ```stylecop.json``` support as this provides at least (almost) the same functionality as StyleCop had.

[2015-10-14 02:04] yaakov-h opened #1624 "Newtonsoft.Json is installed as an analyzer"
When installing StyleCop.Analyzers, `Newtonsoft.Json` is installed as an Analyzer.

Is this intentional? Is it possible to ship an Analyzer dependency without installing the dependency itself as an analyzer?

![Newtonsoft.Json Analyzer](https://cloud.githubusercontent.com/assets/426009/10473165/ee4e3534-7273-11e5-8ba2-e82ee60c7f45.PNG)

[2015-10-14 02:13] sharwell commented on #1624
It's not intentional, but as far as I can tell it's also not avoidable.

[2015-10-14 02:17] yaakov-h commented on #1624
What requires it there?

I experimented by commenting out that Analyzer in the `csproj`, i.e.
[code]
and StyleCop seems to be running as expected, even after restarting Visual Studio 2015.

[2015-10-14 07:42] vweijsters commented on #1623
@jessehouwing Thanks for reporting this issue.

I agree that said rules should not report diagnostics in this case.

[2015-10-14 08:30] vweijsters commented on #1601
I would still prefer to add the rule, even though IDE0003 is (almost) identical.
As indicated, IDE0003 has issues and from an end user perspective it would make more sense to have all related code styling rules in a single analyzer, as that would keep rule set maintenance a lot easier.

[2015-10-14 11:33] Maxwe11 commented on #1619
It shouldn't be reported. Rule applicable only for methods with more than one parameter/argument.

[2015-10-14 13:15] fubar-coder opened #1626 "Support for ExcludeFromSourceAnalysis seems to be missing"
This would allow the exclusion of files at project level:

[code]

[2015-10-14 14:32] MatthieuNarcisi opened #1627 "SA1633 shows a code fix even if the header is correct."
We use headers in our CS files with this format :

[code]

This format is valid as described here : https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA1633.md

But stylecop is reporting it as a violation and suggest the following code fix :

[code]
We are using version 1.0.0-beta013
I am using

[2015-10-14 14:39] Lexcess opened #1628 "Consistent support for Namespaces in Scope and Target on SuppressMessage"
This is probably considered an enhancement (especially since old Stylecop was idiosyncratic on this as well) but the handling of SuppressMessageAttribute is inconsistent.

Some suppressions seem to work as expected on a namespace level (and in fact can be generated as such by a code fix).
[code]
Others such as the following do not:
[code]
I forgot this was a weakness of the old stylecop and spent

[2015-10-14 17:35] sharwell commented on #1624
NuGet automatically adds that line because the assembly is located in the StyleCop.Analyzers NuGet package. We don't add it on purpose, but we need to distribute Newtonsoft.Json with the analyzers so the stylecop.json settings work properly.

[2015-10-14 17:35] #1619 closed

[2015-10-14 17:37] sharwell commented on #1626
Is this a duplicate of #726?

[2015-10-14 17:39] sharwell commented on #1627
@vweijsters Does the file header extraction not currently support bars?

[2015-10-14 17:47] sharwell opened #1629 "Update SA1652 documentation for disabling CS1573 and CS1591"
The documentation for [SA1652](https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA1652.md) describes a way to suppress CS1573 and CS1591 by editing the project file. An alternate (and easier) method of disabling these warnings is to reduce their severity in the rule set file to Hidden or None, as seen in #1330. The documentation for SA1652 should be updated to describ

[2015-10-14 17:48] sharwell commented on #1628
If anything, this would be a Roslyn bug. StyleCop Analyzers reports diagnostics it finds whether or not they are suppressed, and Roslyn determines which ones to show based on the presence (or absence) of `#pragma warning disable` lines and `[SuppressMessage]` attributes.

:memo: You should not disable [SA1652](https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA1652.md

[2015-10-14 17:50] sharwell commented on #1601
:+1:

[2015-10-14 18:03] #1617 closed

[2015-10-14 18:04] Lexcess commented on #1628
Ah fair enough, I'll see about raising it there then. On the not disabling SA1652, I used it only as an example (and I think not the only one?), but it is currently one of the suggested code fix options.

[2015-10-14 18:04] #1628 closed

[2015-10-14 18:55] fubar-coder commented on #1626
Yes, it is. I missed that there was already a ticket for this. Sorry for the inconvenience

[2015-10-14 18:55] #1626 closed

[2015-10-14 19:01] vweijsters commented on #1627
Assign it to me, I'll have a look

[2015-10-14 19:02] vweijsters commented on #1601
Grabbing this

[2015-10-14 19:36] sharwell commented on #1626
No problem. :smile: I wasn't sure since the MSBuild properties used here differed slightly from the one described in #726.

[2015-10-14 20:30] vweijsters commented on #1627
There is a test case for this in `FileHeaderTestBase.TestValidFileHeaderWithBordersAsync`
The code however is very strict in formatting.

@MatthieuNarcisi Do your headers have any spaces (or other characters) between the `//` and the `-` characters?

[2015-10-14 22:13] yaakov-h commented on #1624
It's not NuGet itself, but StyleCop.Analyzer's install Powershell script: https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/StyleCop.Analyzers/StyleCop.Analyzers/tools/install.ps1#L41

But yeah, I do now see the problem you mentioned.

![AD0001](https://cloud.githubusercontent.com/assets/426009/10499561/d8664fb4-731c-11e5-839d-e268d68ad67e.PNG)

[2015-10-14 22:56] sharwell commented on #1624
I completely forgot about that custom install script. :tired_face:

[2015-10-15 07:45] fubar-coder commented on #1626
Yes, it's slightly different, but it's for the same things as far as I can see.

[2015-10-15 08:06] appel1 opened #1632 "ArgumentOutOfRangeException in SA1508ClosingCurlyBracketsMustNotBePrecededByBlankLine"
Every now and then while editing code I get an error in the SA1508ClosingCurlyBracketsMustNotBePrecededByBlank rule. Haven't been able to figure out how to reproduce it yet.

[code]

[2015-10-15 11:25] sharwell commented on #1632
Duplicate of #1534 :smile:

[2015-10-15 11:25] #1632 closed

[2015-10-15 12:03] #1600 closed

[2015-10-15 12:14] MatthieuNarcisi commented on #1627
I think I found the issue. It is (kind of) my fault.

My default header (when I create a class) look like this :
[code]
There is a XML tag that the user has to replace by their name.
The error is only reported when I have this default header before I change it, so my guess is that the parser tries to parse the XML but fails (as the FullName tag is not closed) and report an error.

[2015-10-15 12:16] sharwell commented on #1627
@MatthieuNarcisi Perhaps `{FullName}` would be a better alternative?

[2015-10-15 12:21] #1358 closed

[2015-10-15 12:21] #1595 closed

[2015-10-15 12:49] sharwell commented on #1627
:question: @MatthieuNarcisi What is the exact message reported by StyleCop.Analyzers in your case? Does it indicate that the header does not contain valid XML?

[2015-10-15 12:55] #1627 closed

[2015-10-15 13:01] #1604 closed

[2015-10-15 13:10] MatthieuNarcisi commented on #1627
@sharwell Indeed the exact message is :

[code]

You are right, my understanding of the error was wrong. It was simply that the code fix was misleading, I though the whole header was wrong. But I agree with you, the improvement to the project is minimal.

Thank you for your time and help anyway.

[2015-10-15 13:16] sharwell opened #1633 "File header code fix should preserve borders when replacing invalid XML"
The following example file header from #1627 contains invalid XML inside the `<author>` element.

[code]

Since the XML is invalid, the file header code fix attempts to replace the entire header with a valid header. When doing so, it removes the borders on the first and last lines. This causes the diff presented to the user to show changes throughout the header.

If the code fix was able to preser

[2015-10-15 13:17] sharwell commented on #1627
@MatthieuNarcisi I filed #1633 with a more specific enhancement request that would likely improve the user experience in scenarios like yours. :+1:

[2015-10-15 13:17] #1553 closed

[2015-10-15 13:17] #1554 closed

[2015-10-15 22:06] qmfrederik commented on #1618
Hi,

Just want to chime in on this discussion - I observed the following when moving from the StyleCop.MSBuild package to StyleCop.Analyzers:

* (Total) build time doubled (more or less) from 2 minutes to 4 minutes
* When starting Visual Studio, there's about 33% CPU usage (it's a dual-core PC) for 1,5 minute

The increase it total build time is something I don't worry about too much - we do incre

[2015-10-16 02:08] sharwell commented on #1618
From everything I can tell so far, StyleCop.Analyzers is actually remarkably efficient, consuming around 12% of the overall compilation time. Unfortunately, time spent in another part of the analyzer infrastructure appears to be responsible for the large increase in build times users are observing with StyleCop.Analyzers enabled. I filed dotnet/roslyn#6053 to expand the investigation.

[2015-10-16 03:33] #169 closed

[2015-10-16 11:17] #1629 closed

[2015-10-17 03:38] GregReddick commented on #1525
I certainly would not like this being on by default. I think the "bad" syntax is easier to read and maintain. Is there a good reference for why they supported this in c#6 in the first place?

[2015-10-17 04:05] GregReddick commented on #1029
I'm in favor of this rule. All the variable spacing is just a lot of work for something that doesn't help readability much and makes maintenance more difficult. The additional lines should all be indented one exactly one tab stop or four spaces from the first line. :+1:

[2015-10-17 04:14] GregReddick commented on #1028
The LINQ statement could be written like this and be perfectly fine with this rule
[code]
This gets away from having variable spacing, which I think is a travesty for maintainable code.

[2015-10-17 04:45] GregReddick commented on #748
Normally, I like the break with the dot operator on the start of the next line.
[code]
However, the new null conditional operator is kind of a special case. This looks wrong:
[code]
But I think this looks wrong, too, especially if you break before the dot otherwise:
[code]
Apparently this is legal and I guess is ok, but the ?. is actually one operator and it now has a line break in the middle of i

[2015-10-17 19:05] GregReddick commented on #989
:+1:

[2015-10-17 19:18] GregReddick opened #1639 "Rule proposal: All Assembly Attributes should appear in the AssemblyInfo.cs file."
Having an assembly attribute in any other (non-generated) file should produce a warning.

[2015-10-17 19:23] GregReddick opened #1640 "Rule Proposal: An assembly should have an AssemblyCopyright attribute."
All projects should have an AssemblyCopyright attribute. Since the Berne convention in 1988, all code is copyrighted anyway, so should give the date of publication and the owner. If you really want to place the project in the public domain, the AssemblyCopyright attribute should have the value "In the public domain".

[2015-10-17 19:25] GregReddick opened #1641 "Rule proposal: An assembly should have an AssemblyDescription attribute."
This should produce a warning if it is not present.

[2015-10-17 19:27] GregReddick opened #1642 "Rule proposal: An assembly should have an AssemblyConfiguration attribute."
It should propose a warning if it is not present. The rule fix should add the following code to the AssemblyInfo.cs file if it is not present:
[code]

[2015-10-17 19:32] GregReddick opened #1643 "Rule proposal: An AssemblyInformationVersion attribute should be in the project with the correct value."
The Application.UserAppDataPath or Application.UserAppDataRegistry properties reference paths and registry keys by building a string from the AssemblyCompany, AssemblyProduct, and AssemblyInformationalVersion attributes. If this attribute is not present, then the value in AssemblyVersion attribute is used instead. If the wildcard is used in the AssemblyVersion attribute, the compiler will change t

[2015-10-17 19:33] GregReddick opened #1644 "Rule proposal: An assembly should have an AssemblyProduct attribute."
This should produce a warning if it is not present.

[2015-10-17 19:34] GregReddick opened #1645 "Rule proposal: An assembly should have an AssemblyTitle attribute."
This should give a warning if it is not present.

[2015-10-17 19:38] GregReddick opened #1646 "Rule proposal: A project should have a NeutralResourcesLanguageAttribute"
If an assembly contains resources, the NeutralResourcesLanguages attribute identifies that the assembly shares the language neutral resources and the language specified in the attribute. This makes it clear to .NET that it does not need to look for a satellite assembly for that language. In most cases, the value specified will be the codes for the language and country of the programming team, and

[2015-10-17 19:50] sharwell commented on #1639
I don't have a link handy, but I think the way I used TypeForwardedTo in the dotnet-threading library makes sense but breaks this rule.

Right now I'm leaning against this rule because I've never seen a project break the rule in a way that made me want to fix it.

[2015-10-17 19:53] sharwell commented on #1640
This seems better suited to be an FXCop/API design guideline analyzer rather than a C# source code style analyzer. I like the rule concept but am :-1: on including it as a StyleCop rule.

[2015-10-17 19:56] sharwell commented on #1642
Right now I'm :-1: for the same reason as #1640.

[2015-10-18 00:25] sharwell commented on #1639
Here's a [specific example of `TypeForwardedTo` usage](https://github.com/tunnelvisionlabs/dotnet-threading/blob/master/Rackspace.Threading/IProgress%601.cs#L9) like I was mentioning.

[2015-10-18 08:38] vweijsters commented on #1639
:question: How would this work with a pattern where several projects are using a shared file called `CommonAssemblyInfo.cs` that most assembly attributes in it, combined with an `AssemblyInfo.cs` per project that has the (few) assembly specific attributes in it?

[2015-10-18 08:39] vweijsters commented on #1640
I agree with @sharwell here

[2015-10-18 08:41] vweijsters commented on #1641
:-1: Similar to the discussion in #1640

[2015-10-18 08:41] vweijsters commented on #1642
:-1: Similar to the discussion in #1640

[2015-10-18 08:42] vweijsters commented on #1643
:-1: Similar to the discussion in #1640

[2015-10-18 08:42] vweijsters commented on #1644
:-1: Similar to the discussion in #1640

[2015-10-18 08:42] vweijsters commented on #1645
:-1: Similar to the discussion in #1640

[2015-10-18 08:42] vweijsters commented on #1646
:-1: Similar to the discussion in #1640

[2015-10-18 10:48] NikolayIT opened #1647 "CodeFix for SA1412 (StoreFilesAsUtf8) deletes other important auto-generated files in Visual Studio (e.g. EF migrations)"
When I use the code fix for SA1412 (StoreFilesAsUtf8) in any of the Entity Framework migration files (*which by default are created with my system's default encoding but that is another topic*)

![SA1412](https://cloud.githubusercontent.com/assets/3106986/10563726/4cd11c70-759e-11e5-8c0c-665a2243d671.png)

the auto-generated sub-files (which are important for the proper EF migrations work) are bei

[2015-10-18 10:55] NikolayIT commented on #1639
It is a common practice for `[assembly: OwinStartup(typeof(Startup))]` to be placed inside the `Startup.cs` in ASP.NET MVC 5 applications.

Also

    [assembly: PreApplicationStartMethod(typeof(NinjectWebCommon), "Start")]
    [assembly: ApplicationShutdownMethod(typeof(NinjectWebCommon), "Stop")]

is commonly placed inside `NinjectWebCommon.cs` in ASP.NET applications

[2015-10-18 18:12] berkeleybross opened #1648 "SA1649 being reported for global.asax"
SA1649 is reporting the file name must match the class name for the global.asax.cs files in a standard MVC5 project. The actual class name is "MvcApplication".

I think an exception to the rule should be created for this, since the file is made automatically by visual studio when making a new MVC application.

If no exception can be made, what should the fix be? I'm not exactly sure how Global.asa

[2015-10-18 19:13] NikolayIT commented on #1648
Same here, but I've disabled it using

    [System.Diagnostics.CodeAnalysis.SuppressMessage("StyleCop.CSharp.DocumentationRules", "SA1649:File name must match first type name", Justification = "File must be named Global.asax.cs")]
    public class MvcApplication : HttpApplication

IMO there is no need for special exceptions for the rule, any suppression should work for you.

[2015-10-18 20:40] vweijsters commented on #1623
Grabbing this

[2015-10-19 01:22] sharwell commented on #1647
This sounds related to #1168. It's part of the reason we've disabled this rule by default for the time being.

[2015-10-19 01:23] sharwell commented on #1641
Right now I'm :-1: for the same reason as #1640.

[2015-10-19 01:24] sharwell commented on #1643
Right now I'm :-1: for the same reason as #1640.

[2015-10-19 01:24] sharwell commented on #1644
Right now I'm :-1: for the same reason as #1640.

[2015-10-19 01:24] sharwell commented on #1645
Right now I'm :-1: for the same reason as #1640.

[2015-10-19 01:24] sharwell commented on #1646
Right now I'm :-1: for the same reason as #1640.

[2015-10-19 01:27] #1525 closed

[2015-10-19 09:05] Przemyslaw-W commented on #748
Why does
[code]
look wrong to you?
It immediately gives you proper info that ```Baz``` and ```Blech``` are called conditionally. No need to scan end of previous line to see this.

[2015-10-19 11:25] mreu commented on #1357
+1 Same here.

[2015-10-19 14:33] sharwell opened #1652 "Indentation of SA1127 code fix incorrect when doc comments are present"
### Sample code

[code]

### Expected result

[code]

### Actual result

[code]

[2015-10-19 19:11] vweijsters commented on #1623
@jessehouwing why did you disable SA1009? Its seems to me that there would be no need for that.

The only reason I can think of is:
[code]

but that construction is incorrect in my opinion and should be written as:
[code]

[2015-10-19 19:15] sharwell commented on #1652
This also occurs if the definition is preceded by an indented `#region` or `#endregion` directive.

[2015-10-19 19:20] vweijsters commented on #1623
The observation above probably also holds true for SA1111.

[2015-10-19 19:29] jessehouwing commented on #1623
That would work, though I prefer to have the the least amount possible between my compiler directives. Adding a new parameter at the end would require me to update both compiler directive parts.

I can see how your layout would work as well.

I ended up finding a better solution anyway, using:

[code]

Because the interface was simply renamed, that results in cleaner code overall.

[2015-10-19 19:33] vweijsters commented on #1623
OK, thanks for the feedback. Your new solution is preferable indeed :+1:

I'll still fix this for SA1114 and SA1115, since that still is a valid use case.

[2015-10-19 19:34] jessehouwing commented on #1623
Thanks!

[2015-10-19 20:26] GregReddick commented on #1639
Given the above situations. I withdraw this rule proposal.

[2015-10-19 20:26] #1639 closed

[2015-10-19 20:45] sharwell opened #1654 "SA1113 not reported in BaseConstructorInitializer"
### Source code

[code]

### Expected

SA1113 reported on the `,` before `y`.

### Actual

No warning reported.

[2015-10-19 21:09] sharwell opened #1655 "No diagnostic for commas in initializer"
I expected a diagnostic for the following code, but none was reported:

[code]

Should one of the existing diagnostics apply to this case?

[2015-10-19 21:31] vweijsters commented on #1655
The old StyleCop flags this with SA1001, which seems logical to me.

[2015-10-19 21:58] sharwell commented on #1655
Is the documentation for SA1001 incorrect? In particular, should a comma ever be allowed at the beginning of a line?

[2015-10-20 01:12] yaakov-h opened #1657 "SA1010 and SA1013 conflict in some circumstances"
Here's an example where SA1010 and SA1013 conflict. The Dictionary can be replaced with inline property setting (`new Thing { Prop = value }`) as long as it's immediately followed by an indexer, but the principle is the same.

[code]

SA1013 says a closing curly bracket must be followed by a space, so the line should be:
[code]

However, then SA1010 says that an opening square bracket must not be

[2015-10-20 01:14] yaakov-h commented on #1648
I don't believe `Global.asax` itself can be renamed, but I'm pretty sure `Global.asax.cs` can be renamed.

[2015-10-20 03:42] sharwell opened #1659 "Violations of SA1113 are not reported in the MSBuild output"
See #1658 for a clear example. The pull request introduces two violations of SA1113, in addition to violations of SA1116 and SA1117. When you open the solution in Visual Studio, all of these warnings are reported in the Error List window. When you build the project, only SA1116 and SA1117 are included in the build output (see [AppVeyor for example](https://ci.appveyor.com/project/sharwell/stylecop

[2015-10-20 05:18] pdelvo opened #1660 "Naming rules - merged namespaces"
Currently we are reporting diagnostics if a namespace does not follow stylecop naming conventions even if the namespace is also defined in metadata. Do we want to make an exception in these cases?

[2015-10-20 06:56] Przemyslaw-W commented on #1655
I would also expect some kind of SA1113, but targeted at initializers

[2015-10-20 09:22] jimmymain opened #1662 "SA1649 creating strange generic file names."
Hi,

Since version 14 (StyleCop.Analyzers.1.0.0-beta014)
Files containing generics are being renamed incorrectly.

A file containing.

[code]

is being renamed to `IRepository{T}.cs` instead of just `IRepository.cs`

[2015-10-20 10:57] jimmymain commented on #1662
Further to this, file names generated by the IDE, such as `MyDataService.svc.cs` should possibly not be renamed. I don't recall the original stylecop renaming these.

[2015-10-20 11:03] appel1 commented on #1662
By design https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/Configuration.md#file-naming-conventions.

It'd make sense to me if SA1649 allowed the file name for a generic type to not include the type parameters if possible, no collision.

[2015-10-20 11:04] appel1 commented on #1662
Regarding *.svc.cs files I think it relates more to #1648.

[2015-10-20 11:06] ltd65 commented on #1662
I have another issue with this error since beta 14. The Error is disabled but still I get an error for the following class.

    public class ServiceTask<T1, TResult> : IServiceTask

The class indead does not follow the rule but as the error is disabled it should not show up.

[2015-10-20 15:02] sharwell commented on #1660
I don't think we need to do that. It seems like an appropriate place to use a source suppression.

[2015-10-20 15:07] sharwell commented on #1657
I find the example much more readable when written as:

[code]

I've never seen a case where the described form appeared and it didn't make sense to simplify it. Is this just a hypothetical situation or are there other cases where someone might want to use this?

Currently my vote is to not make any changes, as the indicated form is not readable regardless of the spacing. When working with an init

[2015-10-20 18:51] vweijsters commented on #1655
I just looked at the old StyleCop code and that code will definitely not accept a comma at the start of the line, so I say that the documentation is wrong.

[2015-10-20 18:56] daflotsch commented on #1607
I know this is closed but my request goes in the same direction: My main problem with having StyleCop.Analyzer added to all 70 projects in our solution is, that the build takes some minutes longer than without the nuget package installed.
I tried to reduce warnings and everything, but it is still much much slower.

My thought was, if there was an extension which does not effect the build at all, w

[2015-10-20 19:00] vweijsters commented on #1662
There are two options here:
- Allow either naming convention to accept file names without type parameters
- Add a third naming convention

I'm OK with both, but I have a small preference for the first option.

Regarding the file extensions, I would propose to ignore everything after the first encountered dot, as long as it ends with `.cs`. This would then cover `*.svc.cs`, `*.xaml.cs`, and possibl

[2015-10-20 19:01] vweijsters commented on #1662
@ltd65 Could you please create a separate issue for the problem that you are having? It would be much easier to keep track of it then.

[2015-10-20 19:52] vweijsters commented on #1657
I agree with the analysis of @sharwell  here

[2015-10-20 21:13] GregReddick commented on #1563
I looked through my code, and I was mostly consistent on using lower case for m and f, and upper for L. I would be okay if the rule was consistent with lower for everything except L and possibly UL. It could also be configurable, but that really isn't in the StyleCop nature, which is provide one way of doing things. I did use L on integer constants, particularly when there were other constants tha

[2015-10-20 22:05] GregReddick commented on #1530
I have found that most of my exceptions are one letter prefixes that StyleCop considered to be Hungarian. Things like xMargin. I frequently added all the one letter prefixes to be allowed, then added two letter groups that it complained about. The thing that should be caught is that short prefixes are frequently abbreviations or acronyms, which should be discouraged in .NET code unless they are ve

[2015-10-20 22:11] GregReddick commented on #1558
I far prefer the StyleCop style to the .NET Foundation code style. Alternates should be allowed, but the StyleCop defaults should stay where they are.

[2015-10-20 22:21] #1530 closed

[2015-10-20 22:33] sharwell commented on #1607
@daflotsch We're working on the build performance issue in #1618 and dotnet/roslyn#6053.

[2015-10-20 22:44] sharwell opened #1663 "SA1001 should not allow a comma at the beginning of the line"
As discussed in #1655, SA1001 should not allow a comma at the beginning of the line. The documentation needs to be updated to reflect this, and new test cases added for code containing commas which is not a parameter or argument list (which are covered by SA1113).

[2015-10-20 22:45] sharwell commented on #1655
I filed :bug: #1663 to correct.

[2015-10-20 22:45] #1655 closed

[2015-10-20 22:53] yaakov-h commented on #1657
I agree that the example I provided is illogical, but I couldn't recall what the actual code was that had triggered this.

I looked it up this morning, it was this function in a WPF application:

[code]

I resolved the StyleCop violation by changing it to the following:

[code]

Yes it is simplifiable, however the guidance from the Code Fixes is to insert whitespace, then to remove it, then to ins

[2015-10-20 23:00] sharwell commented on #1662
@vweijsters In most cases, code located in a file containing a dot in the name is a `partial` class, which is already ignored by this rule. \*.xaml.cs is one case where this always holds. It might be possible to add `partial` in other cases (e.g. the global.asax.cs case in #1648). Regarding a preference among your two options - I prefer the second option (creation of a new naming convention). I ex

[2015-10-20 23:16] GregReddick commented on #748
I guess I could get used to it. Is this the consensus of how it should be done? I kind of feel that the ? belongs to the Bar, not the Baz.

[2015-10-21 00:29] sharwell commented on #1640
@GregReddick This seems conceptually close to [CA1016: Mark assemblies with AssemblyVersionAttribute](https://msdn.microsoft.com/en-us/library/ms182155.aspx). I recommend proposing this rule either in [dotnet/roslyn-analyzers](https://github.com/dotnet/roslyn-analyzers) (the temporary home for former code analysis rules being written as analyzers), or in [DotNetAnalyzers/Proposals](https://github.

[2015-10-21 00:29] #1640 closed

[2015-10-21 00:31] sharwell commented on #1641
:arrow_right: See #1640 for my recommendation for proposing this rule as a code analysis warning rather than a StyleCop analyzer.

[2015-10-21 00:31] #1641 closed

[2015-10-21 00:31] sharwell commented on #1642
:arrow_right: See #1640 for my recommendation for proposing this rule as a code analysis warning rather than a StyleCop analyzer.

[2015-10-21 00:31] #1642 closed

[2015-10-21 00:32] sharwell commented on #1643
:arrow_right: See #1640 for my recommendation for proposing this rule as a code analysis warning rather than a StyleCop analyzer.

[2015-10-21 00:32] #1643 closed

[2015-10-21 00:32] sharwell commented on #1644
:arrow_right: See #1640 for my recommendation for proposing this rule as a code analysis warning rather than a StyleCop analyzer.

[2015-10-21 00:32] #1644 closed

[2015-10-21 00:32] sharwell commented on #1645
:arrow_right: See #1640 for my recommendation for proposing this rule as a code analysis warning rather than a StyleCop analyzer.

[2015-10-21 00:32] #1645 closed

[2015-10-21 00:32] sharwell commented on #1646
:arrow_right: See #1640 for my recommendation for proposing this rule as a code analysis warning rather than a StyleCop analyzer.

[2015-10-21 00:32] #1646 closed

[2015-10-21 00:59] AArnott opened #1664 "SA1649 (FileHeaderFileNameDocumentationMustMatchTypeName) should allow GenericType`1.cs pattern"
The dotnet/corefx and other repos contain projects that follow the convention of naming files after their CLR-type names (which uses the tilda syntax). For example: `List<T>` would appear in a file called

     List`1.cs

Ideally this rule would not fire a warning for such a file name.

Related to #1662

[2015-10-21 02:48] AArnott opened #1665 "SA1649 code fix (rename file) in Shared Project copies the file into all importing projects"
Repro steps:
1. Have two ordinary class library projects that both reference a Shared Project in the solution.
2. Add a source file to the Shared project with a file name that will generate an SA1649 warning.
3. Use the code fix to fix the file name.

**Expected**
The file is renamed in the shared project

**Actual**
Both referencing projects now contain the file directly.

I suspect this is actua

[2015-10-21 04:05] sharwell commented on #1664
This is already supported by the `metadata` file naming convention. You can enable it in **stylecop.json** by following the steps in [Configuration.md](https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/Configuration.md#file-naming-conventions).

[2015-10-21 04:05] #1664 closed

[2015-10-21 04:28] AArnott opened #1666 "SA1129 proposes significant code change rather than style"
The SA1129 rule proposes that this syntax be used:

     default(int)

instead of

    new int();

For many structs this is fine, since their default constructor is empty. However the CLI specification does not require that a struct's default constructor be empty. And in fact C++/CLI allows for non-empty implementations, and C# 6 _almost_ allowed it, and a subsequent version of C# certainly may. T

[2015-10-21 04:29] AArnott commented on #1664
Oh! Awesome.

[2015-10-21 04:44] sharwell commented on #1666
According to ECMA 334 §11.1.2, the expressions `new T()` and `default(T)` are equivalent for any value type `T`. While C++/CLI may be able to express a parameterless constructor with differing behavior, and compliant C# compiler is not required to call this constructor (but also does not disallow it). If anything, the explicit use of `default(T)` ensures that the compiled code behaves the same way

[2015-10-21 05:48] ltd65 opened #1667 "SA1649 reported even when analyzer is disabled"
I have another issue with SA1649 error since beta 14. The Error is disabled in the ruleset but still I get an error for the following class.

[code]

The class indeed does not follow the rule but as the error is disabled it should not show up.
 After a restart of Visual Studio it now show the error for some additional classes which are not "generic".

I have seen this also for other "regular class

[2015-10-21 07:34] jimmymain commented on #1662
@sharwell, having thought about it, I agree, I can get used to the new naming convention. I will get used to the stylecop convention rather than the "metadata" one.

[2015-10-21 11:42] sharwell commented on #1667
StyleCop.Analyzers reports all diagnostics to Roslyn, whether or not they are suppressed. The suppressions are the applied by Roslyn itself. Typically when a problem like you describe occurs, it means the rule set where the warning is suppressed is not the rule set which is currently applied to the project.

Note that the effective rule set depends on the build configuration, so you need to make s

[2015-10-21 13:34] ltd65 commented on #1667
Can probably be closed as an artifact from switching from beta13 to beta14. I did the switch again and with SA1649 disabled the errors were displayed(9 in total). I then enabled the error and made a rebuild. As expected the warnings were still shown. I disabled the SA again and made another rebuild now only one of the errors was shown in a portable class library all the other were not displayed an

[2015-10-21 13:36] #1667 closed

[2015-10-21 19:56] AArnott commented on #1666
I assume that you merely omitted the type constraint on `T` in your paraphrase, as for this statement to be true, `T : struct` at least, since it certainly isn't true for `T : class`.

I am surprised to hear that given that the C# team was considering a design that sounds like it would contradict this. But in light of that, I accept your reasoning.

[2015-10-21 21:22] vweijsters opened #1668 "SA1129DoNotUseDefaultValueTypeConstructor throws System.NullReferenceException"
Got this AD0001 message while (heavily) editing source code in VS2015 using beta 14.

I haven't been able to reproduce it yet.

[2015-10-21 21:33] sharwell commented on #1666
@AArnott I meant to imply the constraint by stating "value type `T`", as opposed to a reference type.

[2015-10-22 01:44] AArnott commented on #1666
Ah yes, of course. I should have caught that.

[2015-10-22 04:07] yaakov-h opened #1669 "SA1008 conflicts with VS autoformatting for delegates"
[code]

The above code satisfies SA1008, however if I use Visual Studio 2015's automatic formatting (Ctrl+K, Ctrl+D), it adds a space after `delegate` as so:

[code]

Is this a StyleCop issue, or a Visual Studio issue?

[2015-10-22 04:24] sharwell commented on #1669
The documentation for SA1008 is ambiguous. The documentation for SA1000 does not mention the `delegate` keyword at all. @vweijsters What does StyleCop Classic do?

[2015-10-22 04:26] sharwell commented on #1666
Have we addressed your concerns, or are you still in favor of changing the rule to be disabled by default?

[2015-10-22 04:50] GregReddick commented on #1669
StyleCop classic does not want a space after the delegate.

There should be an option for this in the Visual Studio Options (Text Editor > C# > Formatting > Spacing), but I didn't find one that affects this.

[2015-10-22 05:39] sharwell commented on #1669
For now I'm going to close this as **wontfix** since it matches the behavior of StyleCop Classic (which means it's by design).

[2015-10-22 05:39] #1669 closed

[2015-10-22 07:33] Przemyslaw-W commented on #1669
https://github.com/dotnet/roslyn/issues/3257

[2015-10-22 07:34] yaakov-h commented on #1669
Thanks!

[2015-10-22 13:48] otac0n opened #1670 "SA1107 (multiple statements on one line) incorrectly reported when previous line is missing semicolon."
As you can see from the screenshot, the preceding line is missing its semicolon.  This is getting incorrectly detected as two statements on the same line. The code fix also results in strange indentation.

![New Line Error](http://i.imgur.com/qOAW8Zh.png)

[2015-10-22 14:13] pdelvo commented on #1670
In what version did you experience this? I think #1543 should have fixed that.

[2015-10-22 14:41] otac0n commented on #1670
Yeah, it was a while ago, I just had the screenshot sitting around still.

[2015-10-22 14:41] #1670 closed

[2015-10-23 05:02] GregReddick commented on #1668
I just recently got this on the release community edition. There is no file associated with the error, so it is hard to isolate what is causing it.

[2015-10-23 12:41] sharwell commented on #1662
I'm closing this for now. If someone has an idea for a specific naming convention, please open a new issue to propose it, and include details about how it would behave in a variety of situations.

[2015-10-23 12:41] #1662 closed

[2015-10-23 15:36] emanoelxavier opened #1673 "New rules for test classes and names"
I have been using some custom StyleCop rules (v 4.7) to enforce things like test class and test method names for different types of tests (unit, functional, etc) within my team. These rules are there to enforce that our test code is consistent with our test approach and vision. It also facilitate test discovery and readability on Visual Studio, TFS, reports etc. I find that it might be beneficial

[2015-10-23 15:50] sharwell commented on #1673
We believe that it is.

The most actively developed single repositories containing Roslyn analyzers (to my knowledge) are [DotNetAnalyzers/StyleCopAnalyzers](https://github.com/DotNetAnalyzers/StyleCopAnalyzers), [dotnet/roslyn-analyzers](https://github.com/dotnet/roslyn-analyzers), and [code-cracker/code-cracker](https://github.com/code-cracker/code-cracker).

It is my personal belief that a set

[2015-10-23 15:54] sharwell commented on #1673
I'm going to close this issue as **external**, but if you have further questions on this subject please feel free to add additional comments and I'll answer them as best I can. :smile:

[2015-10-23 15:54] #1673 closed

[2015-10-23 17:39] tmeschter commented on #1659
@sharwell Any chance the analyzer is failing to load with an AD0001 diagnostic? You might have to bump up the MSBuild logging verbosity and then search the build log to find it.

[2015-10-23 18:01] sharwell commented on #1659
[code]

[2015-10-23 18:16] tmeschter commented on #1659
@sharwell That would be a definitive "yes". Your analyzer appears to have a dependency on Microsoft.CodeAnalysis.Workspaces, which isn't part of the compilers. It is part of VS and is almost certainly being copied over for your unit test runs, which is why the analyzers load and run there.

Unfortunately a quick perusal of the code doesn't reveal any obvious dependencies.

[2015-10-23 19:28] AArnott commented on #1666
I'm satisfied.

[2015-10-23 19:28] #1666 closed

[2015-10-23 19:52] sharwell commented on #1659
@tmeschter The analyzer in question referenced a static member of a type which was derived from `CodeFixProvider`. Even though the analyzer didn't use anything from Microsoft.CodeAnalysis.Workspaces, the assembly needed to at least be present.

:memo: This design is a disaster for the way analyzers and code fixes are currently structured in samples and now in various projects. The only way to ensu

[2015-10-23 21:44] #1659 closed

[2015-10-23 22:05] pdelvo commented on #1497
This was implemented in #1612.

[2015-10-23 22:05] #1497 closed

[2015-10-23 22:20] #1601 closed

[2015-10-23 22:20] #1623 closed

[2015-10-24 13:36] emanoelxavier commented on #1673
Thanks a lot for the prompt response and guidance Sam. I am definitely be interested on this "one option is to create your new repository as part of the DotNetAnalyzers organization on GitHub, allowing it to be developed separately from StyleCopAnalyzers". I think it would be good to increase the visibility of these new analyzers. Let me get started and have something in place first and then I wil

[2015-10-24 19:57] sharwell opened #1677 "SA1502 does not handle operator declarations"
During a code review today I observed that SA1502 does not handle `SyntaxKind.OperatorDeclaration` or `SyntaxKind.ConversionOperatorDeclaration`. This should be reviewed to determine if it is a bug or not.

[2015-10-24 20:07] sharwell opened #1678 "SA1611 does not handle operator declarations"
During a code review today I observed that SA1611 does not handle `SyntaxKind.OperatorDeclaration` or `SyntaxKind.ConversionOperatorDeclaration`. This should be reviewed to determine if it is a bug or not.

[2015-10-24 20:11] sharwell opened #1679 "SA1500 does not handle complex element initializer expressions"
During a code review today I observed that SA1500 does not handle `SyntaxKind.ComplexElementInitializerExpression`. This should be reviewed to determine if it is a bug or not.

[2015-10-24 20:21] sharwell opened #1680 "SA1648 does not handle certain member declarations"
During a code review today I observed that SA1648 does not handle `SyntaxKind.DestructorDeclaration`, `SyntaxKind.OperatorDeclaration`, or `SyntaxKind.ConversionOperatorDeclaration`. This should be reviewed to determine if it is a bug or not.

[2015-10-24 20:23] sharwell opened #1681 "SA1506 does not handle certain declarations"
During a code review today I observed that SA1506 does not handle `SyntaxKind.EnumMemberDeclaration`, `SyntaxKind.OperatorDeclaration` or `SyntaxKind.ConversionOperatorDeclaration`. This should be reviewed to determine if it is a bug or not.

[2015-10-24 20:25] sharwell opened #1682 "SA1514 does not handle operator declarations"
During a code review today I observed that SA1514 does not handle `SyntaxKind.OperatorDeclaration` or `SyntaxKind.ConversionOperatorDeclaration`. This should be reviewed to determine if it is a bug or not.

[2015-10-24 21:15] sharwell opened #1684 "Manual steps for configuring stylecop.json for UWP"
When working with a Universal Windows Application, or more generally any project that uses **project.json** instead of the old project format, the custom targets file added in #1581 does not work. In these cases, the workaround which was previously documented in Configuration.md is still required. The documentation which was removed in #1636 should be added again, and start with a note that it is

[2015-10-24 21:29] bexxx opened #1685 "Suppress missing file header with pragma adds invalid leading trivia"
The cs file start with:

[code]

This get me a SA1633 (OK).
When I select Suppress with pragma, the whole block gets indented (unexpected).

[2015-10-24 21:52] jcasale opened #1686 "SA1642 does not handle structs."
When a struct has ctor, the inspection forces the usage of "class" instead of "struct".

[2015-10-24 22:08] AArnott commented on #1684
After the fix for https://github.com/NuGet/Home/issues/1461 is released, this issue should automatically go away. In the meantime, you can workaround by moving the .targets file into a broadly applying PCL TxM folder like [this](https://github.com/AArnott/Nerdbank.GitVersioning/tree/master/src/Nerdbank.GitVersioning.NuGet/build/portable-net%2Bwin%2Bwpa%2Bwp%2Bsl%2Bnet-cf%2Bnetmf%2BMonoAndroid%2BMo

[2015-10-24 23:46] sharwell commented on #1685
This functionality is part of Roslyn itself. I recommend you file this issue in the [dotnet/roslyn](https://github.com/dotnet/roslyn) issue tracker.

[2015-10-24 23:46] #1685 closed

[2015-10-24 23:47] sharwell commented on #1686
This should have been fixed as part of #418. What version are you using?

[2015-10-24 23:51] sharwell opened #1687 "Finish reducing allocations in HandleCompilationStart"
#1683 partially reduced allocations (documentation in layout rules). The remaining rules need to be updated to match.

[2015-10-25 00:48] jcasale commented on #1686
Hi,
I am using 1.0.0-beta014 from Nuget. Sorry, I forgot to check for closed issues as well, however it seems to still exist for me.

Thanks.

[2015-10-25 03:09] sharwell commented on #1686
Can you provide sample code which reproduces the issue? The tests include multiple checks for the proper use of `struct` in the summary text, so it looks like the problem is in something we hadn't thought of yet.

Thanks!

[2015-10-25 19:31] jcasale commented on #1686
Sam,
After creating a sample from my project, I realized the problem was on my end.
Sorry for the noise and I really appreciate the help.

Thanks.

[2015-10-25 19:31] #1686 closed

[2015-10-25 19:56] sharwell opened #1688 "SA1111 does not handle operator declarations"
During a code review today I observed that SA1111 does not handle `SyntaxKind.OperatorDeclaration` or `SyntaxKind.ConversionOperatorDeclaration`. This should be reviewed to determine if it is a bug or not.

[2015-10-25 20:01] sharwell commented on #1686
No problem, glad to hear it's working for you now :smile:

[2015-10-25 20:52] #1687 closed

[2015-10-25 22:05] sharwell opened #1692 "SA1627 should be enabled by default"
This rule was implemented in #1571, but we forgot to enable it by default.

[2015-10-25 22:15] sharwell commented on #1618
With 1.0.0-beta014 installed (commit 1b3948b5f73fbd0c8d61bd9122b4fc7612f2746e), StyleCop.Analyzers builds in 27 seconds on my machine. With 1.0.0-beta015 installed, it builds in 8 seconds. For now I'm going to consider this issue resolved, but we will continue to work on minimizing the overall footprint of this set of analyzers.

[2015-10-25 22:15] #1618 closed

[2015-10-25 23:31] sharwell commented on #147
This was fixed in #1571.

[2015-10-25 23:31] #147 closed

[2015-10-25 23:40] sharwell commented on #1430
I'm moving this back for now to whatever release follows 1.0 (Stable).

[2015-10-26 01:02] NikGovorov commented on #1618
Thanks @sharwell, very impressive improvement.

StyleCop.Analyzers(with analyzers | without analyzers):
Time Elapsed 00:00:01.59 | Time Elapsed 00:00:00.60
Time Elapsed 00:00:01.35 | Time Elapsed 00:00:00.57
Time Elapsed 00:00:01.39 | Time Elapsed 00:00:00.57
Time Elapsed 00:00:01.53 | Time Elapsed 00:00:00.54
Time Elapsed 00:00:01.46 | Time Elapsed 00:00:00.63

StyleCop.Analyzers.CodeFixes(with a

[2015-10-26 01:53] sharwell commented on #1618
I'm trying to avoid this as much as possible because it reduces the overall effectiveness of the product. I'm fairly sure it's possible to do this by creating a new project build configuration (e.g. **DebugNoAnalyzers**) and either not including the `<Analyzer Include="...">` items in that configuration or using a different code analysis rule set which disables all the diagnostics.

[2015-10-26 02:05] sharwell commented on #823
@jackwhelpton It sounds like StyleCop Classic actually implemented the exception I proposed in #1597. Based on that information, I'll mark #1597 as a blocking enhancement for RC 1. I'm also marking this issue as a duplicate of that one, even though it came later.

[2015-10-26 02:05] #823 closed

[2015-10-26 02:06] sharwell commented on #1597
It appears this exception was implemented but not documented in StyleCop Classic.

[2015-10-26 02:08] sharwell opened #1693 "SA1649 code fix does not remove files from linked projects"
When renaming a source file **A.cs** &rarr; **B.cs**, the code fix for SA1649 properly updates each project which previously included **A.cs** to now include **B.cs**. However, it only *removes* **A.cs** from the project which was the context for the rename operation.

During the rename, the original file needs to be removed from all projects which contained it.

[2015-10-26 02:25] NikGovorov commented on #1618
I understand, it's definitely possible to implement it in a way you've described, but I think of a different scenario though: I would like to have analyzers working during editing files but not when I compile in Visual Studio. Previously I had StyleCop.Resharper running StyleCop in background during editing files and I had StyleCop.MsBuild tasks running StyleCop in cli/ci builds, so I didn't lose

[2015-10-26 02:36] qmfrederik commented on #1618
Cool, build times for my project dropped from 66s to 43s and 3.2 minutes to 2.6 minutes. Great improvement, thanks!

[2015-10-26 02:47] yaakov-h commented on #1430
What about project items that are marked with `<AutoGen>True</AutoGen>` in the project file?

[2015-10-26 03:47] sharwell commented on #1430
@yaakov-h That's roughly the same as #726. Currently analyzers do not have access to this information, so there's not much we can do.

[2015-10-26 04:06] sharwell commented on #1618
@NikGovorov Just add the following at the end of your project file:

[code]

[2015-10-26 04:29] NikGovorov commented on #1618
@sharwell, that's awesome! Does exactly what I need. Thanks heaps!

[2015-10-26 04:55] #1558 closed

[2015-10-26 04:56] sharwell commented on #1648
@berkeleybross Can you change `class MvcApplication` to `partial class MvcApplication`? Rule SA1649 always ignores partial classes.

[2015-10-26 05:01] sharwell commented on #1596
Now that proposal #1597 is accepted and awaiting implementation, I'm going to mark this issue as a duplicate of it so it doesn't get lost. :smile:

[2015-10-26 05:01] #1596 closed

[2015-10-26 05:02] sharwell commented on #1678
I'm fairly sure this one is a bug, since operators do have parameters.

[2015-10-26 05:03] sharwell commented on #1677
I'm fairly sure this is a bug, since operators are static methods.

[2015-10-26 05:05] sharwell commented on #1681
This looks like a bug to me.

[2015-10-26 05:05] sharwell commented on #1682
This looks like a bug to me.

[2015-10-26 05:06] sharwell commented on #1688
This looks like a bug to me.

[2015-10-26 05:09] sharwell commented on #1657
@yaakov-h The rules for special cases can get pretty complicated, especially when we're talking about code fixes. If you think of a specific proposal for new behavior (both when it should apply, and exactly how it should be applied), please feel free to open a new issue with a complete description of the proposed behavior. For now I'm going to mark this as **resolved**.

[2015-10-26 05:09] #1657 closed

[2015-10-26 05:38] bexxx commented on #1003
I'll give it a shot. At least fixing single issues should be easy.

[2015-10-26 14:06] jessehouwing opened #1694 "NewtonSoft.JSon should not be added as "analyzer""
Recent upgrade has added NewtonSoft.JSon as an analyzer package, yet newtonsoft doesn't provide any analyzers.

[code]

I suppose that this reference should not have been added at all and that the assembly should live in a tools folder of the nuget package instead.

[2015-10-26 14:22] sharwell commented on #1694
This reference is required because our analyzers in StyleCop.Analyzers.dll use it during analysis. If the assembly is not listed as an analyzer, it will not be located during the build and any analyzer which attempts to use it will throw an exception. Marking as a duplicate of #1624.

[2015-10-26 14:24] sharwell commented on #1003
Let us know if you have any questions :smile:

[2015-10-26 14:55] jessehouwing commented on #1694
It would be better if you were to use the same version of NewtonSoft JSon that ships with Visual Studio... Plus, it now forces all analyzers that depend on this assembly to use at least your version. Wouldn't statically registering an AppDomain.AssemblyResolve event allow you to fetch the assembly either from the same directory the main assembly is stored, or a tools assembly folder?!

[2015-10-26 14:58] jessehouwing commented on #1694
This should do the trick: http://blogs.msdn.com/b/microsoft_press/archive/2010/02/03/jeffrey-richter-excerpt-2-from-clr-via-c-third-edition.aspx

[2015-10-26 15:03] sharwell commented on #1694
I haven't noticed any negative interaction between our assembly reference and Visual Studio. What problem(s) would you anticipate solving by changing the version we use?

Everything involved uses strong names. What would keep another analyzer assembly from including its own version of Newtonsoft.Json (e.g. 6.x) and referencing that SxS?

It's possible, but I'd want a better understanding of the pr

[2015-10-26 15:03] jessehouwing commented on #1624
It would be better if you were to use the same version of NewtonSoft JSon that ships with Visual Studio... Plus, it now forces all analyzers that depend on this assembly to use at least your version. Wouldn't statically registering an AppDomain.AssemblyResolve event allow you to fetch the assembly either from the same directory the main assembly is stored, or a tools assembly folder?!

http://blog

[2015-10-26 15:04] #1694 closed

[2015-10-26 15:04] sharwell commented on #1624
I haven't noticed any negative interaction between our assembly reference and Visual Studio. What problem(s) would you anticipate solving by changing the version we use?

Everything involved uses strong names. What would keep another analyzer assembly from including its own version of Newtonsoft.Json (e.g. 6.x) and referencing that? I would expect both references to load side-by-side.

It's possib

[2015-10-26 15:05] sharwell commented on #1694
I reopened the other issue for further discussion.

[2015-10-26 15:50] jessehouwing commented on #1624
I tried adding a second reference (from my own analyzer pack) to version 6.05, but only one version sticks. So the analyzer that sets the reference last will probably win, causing funny issues. I don't see a way to set binding redirects for Analyzers, so looking for a fellow-analyzer to load dependent assemblies feels like a bad design decision.

While strong names would work just fine, every AppD

[2015-10-26 16:29] tmeschter commented on #1624
@sharwell @jessehouwing If an analyzer assembly A.dll depends on another assembly B.dll, then *both* must be listed as analyzers. This is to ensure that the host application knows where to find dependencies and can load the correct one.

**Exceptions:** You do not need to and should not include the core system assemblies (e.g., mscorlib.dll, System.dll) as you generally have no control over those,

[2015-10-26 16:32] sharwell commented on #1624
I'm having trouble reproducing this behavior. I added Newtonsoft.Json 6.0.4 as an additional analyzer reference, and everything seems to still be working. This worked whether I placed it as the first analyzer or the last analyzer in the list. It even showed up twice in the list of analyzers:

![image](https://cloud.githubusercontent.com/assets/1408396/10735184/c760af96-7bd4-11e5-98ec-97e21cdcca0a.

[2015-10-26 16:38] sharwell commented on #1624
@jessehouwing Is the other analyzer you're working with [SonarSource/sonarlint-vs](https://github.com/SonarSource/sonarlint-vs)? If so, it appears from [the project file](https://github.com/SonarSource/sonarlint-vs/blob/master/src/SonarLint.DocGenerator/SonarLint.DocGenerator.csproj) (this is the only project I saw that references Newtonsoft.Json) that the analyzer assembly for that project does n

[2015-10-26 16:48] sharwell commented on #1624
@tmeschter I'm going to take a guess that the loading logic behaves as follows. Suppose **AnalyzerA** does have a strong name and references **X** version 2. Also suppose **AnalyzerB** does not have a strong name and references **X** version 1.

If both **AnalyzerA** and **AnalyzerB** are added to a project, then one of the following sequences will occur:

1. **AnalyzerA** assembly loads
1. **X**

[2015-10-26 16:57] jessehouwing commented on #1624
@sharwell if it loads into the same appdomain the following will happen, regardless of strong names in the project file. Assembly loading is a tricky business and a lot of things can influence it. What remains true though, is that an Appdomain can only load one version of an assembly. Determined by it's simple name. The first version that is loaded always wins. So unless Analyzers are loaded into

[2015-10-26 17:39] sharwell commented on #1624
Alright, I set up a complicated case to experiment with this. In sharwell/StyleCopAnalyzers@ca42b3ef1f7f5fb2beaaf774eb64d78423b1ac77, I made our analyzer assembly depend on *both* Newtonsoft.Json 6.0.0.0 and Newtonsoft.Json 7.0.0.0. If either assembly fails to load with that specific version, half the analyzers which use stylecop.json will fail.

When I installed the updated package (sharwell/Styl

[2015-10-26 17:48] sharwell commented on #1624
@jessehouwing I filed dotnet/roslyn#6322 regarding the failure to include both analyzer references when packages are installed through NuGet. For now I'm going to close this as **external** for the following reasons:

1. We're already following the recommendations listed by @tmeschter above

2. I have reproduced the following behavior which you described, and filed an external bug regarding it

3.

[2015-10-26 17:48] #1624 closed

[2015-10-26 19:57] vweijsters commented on #1693
Grabbing this

[2015-10-26 20:07] vweijsters commented on #1665
Grabbing this

[2015-10-26 20:23] sharwell commented on #1665
@vweijsters I had assumed this wasn't possible. If you solve it then... that would be awesome.

[2015-10-26 20:23] vweijsters commented on #1665
Not sure, just saying that I'm having a go at it :smile:

[2015-10-26 21:08] vweijsters opened #1695 "StyleCop.Analyzers.Vsix is not including StyleCop.Analyzers.CodeFixes"
This make interactive debugging of code fixes a lot harder.

[2015-10-26 23:03] #1695 closed

[2015-10-27 05:28] nbarbettini commented on #1681
I can grab this one, if no one else has their eye on it!

[2015-10-27 05:32] nbarbettini commented on #1606
Should we allow any multiple of underscore characters to be used? After 2 or 3, it's hard to tell them apart. :grimacing:

[2015-10-27 05:37] nbarbettini commented on #1562
:+1:

[2015-10-27 05:41] nbarbettini commented on #1455
Leaning toward :+1:. I'm used to `!amount.HasValue`, out of habit, but I like the reasoning here.

[2015-10-27 06:08] yaakov-h commented on #1606
I'd suggest they ought to be sequential (i.e. `___` can't come after `_` unless `__` is between them), and only allowed if they're unused, perhaps as separate rules. If you have a lambda with more than 3 or 4 unused arguments, I'd say you have bigger problems than just style.

[2015-10-27 10:24] stylpe commented on #359
SA1649 now also checks the actual file name rather than just the file attribute in the file header, ref http://www.stylecop.com/docs/SA1649.html

I saw you asked for this explicitly in #169, otherwise I might have filed this as an issue :)

[2015-10-27 20:59] GregReddick commented on #1606
Ick. I wouldn't say that variables with just the underscore as a name is a good idea. But if the goal is to be 100% compatible with StyleCop classic...fine. I don't think we need rules defining how to use them when they shouldn't be used at all, though.

[2015-10-27 21:03] GregReddick commented on #1562
:+1: See #1563, though, on the capitalization of the literal specification.

[2015-10-27 21:32] nbarbettini commented on #1606
@GregReddick The underscores aren't completely horrible when used as intended - in other words, not used at all. I agree, we shouldn't say how to use them - just let people use `_` (or `__`) to mean "unused variable".

[2015-10-27 21:35] yaakov-h commented on #1606
Alternatively, create a new rule that variable names cannot be underscores. That way developers can choose whether or not [unused variable] names can be underscores, as a completely independent decision to variable names starting with a lowercase letter.

[2015-10-27 21:36] nbarbettini commented on #1606
Actually, I like that a lot - nice separation of concerns for these rules.

[2015-10-27 21:39] sharwell commented on #1606
I'm thinking we can defer this topic until after the 1.0 Stable release.

[2015-10-27 22:14] yaakov-h commented on #1606
Not if 1.0 promises full rule parity with StyleCop - I assume therefore it doesn't?

Sent from my phone, widescreen iPod, and internet communicator.

[2015-10-27 23:00] sharwell commented on #1606
The primary goals for 1.0 are:

1. *Good* (but not necessarily perfect) compatibility with StyleCop classic.
  * Every StyleCop Classic rule needs either an implementation in StyleCop Analyzers, or a decision made to intentionally not implement the rule.
  * *Documented* behavior must be explicitly addressed, either through implementing the letter of the rules or correcting oversights.
2. Clear do

[2015-10-28 08:37] fubar-coder opened #1697 "Autogenerated files from XSD tool not ignored"
The autogenerated files from the XSD tool aren't ignored even though they have an ```<auto-generated>``` tag. The file (by default) starts with the following header:

[code]

Maybe Stylecop didn't find the tag because it's in the second line?

[2015-10-28 08:40] fubar-coder commented on #1697
Scrap that. My fault

[2015-10-28 08:40] #1697 closed

[2015-10-28 08:53] fubar-coder opened #1698 "Proposal: Merge assemblies to avoid adding Newtonsoft.Json to analyzers"
I'd like to see that Newtonsoft.Json isn't added to analyzers anymore. This could be achieved by merging Newtonsoft.Json into the StyleCop.Analyzers (and StyleCop.Analyzers.CodeFixes?) assembly. There are several tools out there like [ILMerge](http://research.microsoft.com/en-us/people/mbarnett/ilmerge.aspx), [LibZ](https://libz.codeplex.com/), and [IL-Repack](https://github.com/gluck/il-repack).

[2015-10-28 11:10] appel1 commented on #1698
Why not change the install and uninstall scripts to exclude it instead?

[2015-10-28 11:35] fubar-coder commented on #1698
AFAIK it's added automatically by NuGet and those install/uninstall scripts aren't run on DNX projects - and they are quite unreliable.

[2015-10-28 12:08] johnnyelwailer opened #1699 "Add more ways to exclude files from Analysis"
In our project using legacy StyleCop, we put an `//<unstyled/>` comment on top of the file, I know there's an `<autogenerated>` comment but 'unstyled' would be more fitting.

Addidtionally we used this GeneratedFileFIlters to exclude things like EF Migrations. It looks like this:
[code]

[2015-10-28 13:43] huserben opened #1700 "Solution wide stylecop.json file"
Is it possible to have only one stylecop.json file which is valid for all projects within the solution? I think in legacy StyleCop it checked the parent folders for the settings file and took this one if it was found. Something similar would be nice, otherwise the file has to be copied to each and every project and it has to be made sure that for new projects this is done as well.

[2015-10-28 13:46] sharwell commented on #1698
I recommend filing this as a bug with the Roslyn team to improve the user experience around the requirement that dependencies be installed as analyzers. Starting with Beta 15, we have two such dependencies exposed in the UI, and other analyzer projects

Merging the assembly is not necessary for functionality (as established in #1624) and would slow down the build. The UI improvement would be quest

[2015-10-28 13:47] #1698 closed

[2015-10-28 13:48] sharwell commented on #1700
We currently implemented such a solution for this project using linked files. You'll need to add the same **stylecop.json** file to each of your projects as a linked file, but then it will work.

[2015-10-28 13:50] huserben commented on #1700
Ok, is it likely that it will stay this way or is it planned to somewhen have the same behavior as legacy StyleCop had?

[2015-10-28 13:53] sharwell commented on #1700
This (simpler ability to configure analyzers) is something the Roslyn team is discussing as a new feature which would benefit many analyzer developers. Right now the process is manual but I hope to have more information in the "reasonably near" future. :smile:

[2015-10-28 13:54] sharwell commented on #1699
I see two different proposals here. The GeneratedFilesFilter description would probably best be placed in #1430 (it is a more general approach to the same problem). The `//<unstyled/>` comment would be a new feature.

[2015-10-28 13:55] huserben commented on #1700
Ok thank you, then I guess we will go with the "linked file" approach until there are further news ;-)

[2015-10-28 13:55] #1700 closed

[2015-10-28 13:58] bexxx opened #1701 "SA1633 (file must have header) cannot be suppressed"
We are having a build that turns warnings into errors. StyleCop is one source of warnings in our build.
The rule SA1633 is enabled because we write most code ourselves, but sometimes we use code that was published under a license. We cannot add our copyright header to those files and because the diagnostic is being reported on the first character there is no way to suppress it.

Now the only way f

[2015-10-28 14:25] sharwell commented on #1701
I'll keep this issue open as the primary issue for resolving the inability to selectively suppress SA1633.

[**IANAL**](https://en.wikipedia.org/wiki/IANAL), but it is my understanding that for the license you described, it is sufficient to provide separate notice that you incorporated code from another open source project. For example, see how we handled a similar case in commit  c5a01ff53a77ded8

[2015-10-28 14:53] NikolayIT commented on #1668
I've just got this exception:

	Message	AD0001	The User Diagnostic Analyzer 'StyleCop.Analyzers.ReadabilityRules.SA1129DoNotUseDefaultValueTypeConstructor' threw an exception of type 'System.NullReferenceException' with message 'Object reference not set to an instance of an object.'.	TexasHoldem.Logic		1	Analyzer 'StyleCop.Analyzers.ReadabilityRules.SA1129DoNotUseDefaultValueTypeConstructor' threw

[2015-10-29 04:01] nbarbettini commented on #748
@GregReddick I agree that I mentally think of the ? belonging to Bar, not Baz. But at the same time, when quickly glancing over code, it's a whole lot easier to see that `?.Bar` is a null-check than if it's hidden at the end of the previous line.

I like the `?.Bar` syntax for that reason, and because it's consistent with how I typically start lines with `.` already.

[2015-10-29 04:07] nbarbettini commented on #1682
Grabbing this one as well :+1:

[2015-10-29 16:19] sharwell opened #1706 "SX1101 incorrectly reported for local variable that hides field"
SX1101 is reported for the use of `this.` in the following code. The code fix results in a compilation error.

[code]

[2015-10-29 16:21] sharwell opened #1707 "SX1101 incorrectly reported for parameter that hides field"
SX1101 is reported for the use of `this.` in the following code. The code fix results in a compilation warning (assignment made to same variable) and (more importantly) a change in code behavior.

[code]

[2015-10-29 16:33] vbfox opened #1708 "SA1120 Code Fix Crash"
Repro :

* Create a C# project
* Add the code for `Option.cs` : http://ndesk.org/Options
* On the first line SA1120 trigger, when <kbd>Ctrl</kbd>+<kbd>.</kbd> is used to preview the code fix it crashes.

Exception:

Callstack:

[code]

[2015-10-29 20:24] #1682 closed

[2015-10-29 20:27] #1681 closed

[2015-10-29 22:31] GregReddick commented on #748
Okay. Having played with it, I agree that ?.Baz is the best choice of the three. It makes it consistent that operators should appear at the beginning of the line.

I prefer
[code]
to
[code]
And
[code]
over
[code]
The operator at the beginning of the line (plus the indenting) makes it easy to see that the line is a continuation.

[2015-10-29 22:42] nbarbettini commented on #748
I completely agree about all except the last two. I personally prefer
[code]
and
[code]
myself, but it's just a personal preference. In these cases, I like the variables lined up vertically. I'm sure I could just get used to the change, though, if we decided that always starting a line with an operator was the way to go.

Should this be split into two rules? One dealing with `.Baz` and `?.Baz`, wh

[2015-10-30 08:00] vweijsters commented on #1706
Grabbing this

[2015-10-30 08:00] vweijsters commented on #1707
Grabbing this

[2015-10-30 09:38] DavidDeSloovere opened #1710 "Proposal: Disable SA1649 for file names that contain a period"
Given a class "ClassName" and a filename of "ClassName.Generated.cs", I think this should be valid for the rule. I believe it's a common practice for naming code generated files.

[2015-10-30 09:41] mreu commented on #1701
I already mentioned that in my ticket #1535

[2015-10-30 12:10] sharwell commented on #1710
It's also common practice for classes defined in generated files to be marked as a partial class, and file names are not checked for partial classes. For now, I recommend either marking the class as partial, or adding an `<auto-generated/>` file header to indicate that the file is generated. Aside from that, this is probably a duplicate of one or more of the following issues:

* #1430
* #1648
* #1

[2015-10-30 13:46] whut commented on #1618
I tried the trick with $(BuildingInsideVisualStudio), but without the other tricks of BeforeTargets="CoreCompile" and $(BuildingProject) it didn't work. Now it works great, thanks!

This trick should be documented somewhere, I'm sure that are many people with the same need of disabling StyleCop during build from VisualStudio as @NikGovorov

BTW. it should work this way right inside Visual Studio,

[2015-10-30 13:50] sharwell commented on #1618
For users who enable "warnings as errors" and users who use a rule set file to treat specific analyzer warnings as errors, which would cause building in Visual Studio to produce different results than building from the command line. This would dramatically increase the chances that developers commit code they believe works but in reality causes the automated build for their project to fail.

This

[2015-10-30 14:00] sharwell opened #1711 "Document build customization to disable analyzers when building in Visual Studio"
Some users are interested in disabling analyzers in Visual Studio to improve build performance. Specifically:

* Enable analyzers for IntelliSense purposes
* Enable analyzers for command line builds
* Disable analyzers when actually building the project inside of Visual Studio

The documentation for this functionality should be preceded by a clear notice regarding the potential downside of this be

[2015-10-30 14:22] bordecal opened #1712 "Allow attributes to be excluded from SA1117 analysis"
StyleCop did not include attributes when evaluating SA1117 (ParametersMustBeOnSameLineOrSeparateLines).  This allowed us to do some convenient things like

[code]
which is particularly handy when the justification is going to be long-ish.  Obviously, other attributes with a potentially long text argument might also benefit.

A couple of potential ways to address this:
1. Completely ignore attribut

[2015-10-30 14:34] DavidDeSloovere commented on #1710
I'll look into the `partial`, although I'm not a fan of changing code just to pass a check that should fire anyway. So the `<auto-generated/>` might be the best solution for me.

Not really a dupe for those you list. I actually did look in the open issues for SA1649  ;-)

[2015-10-30 14:39] sharwell commented on #1710
@DavidDeSloovere The idea of ignoring SA1649 files with a `.` originally came up in #1662 (in a comment from @vweijsters).

I'm going to reopen this for discussion *specifically* on the topic of disabling SA1649 for files which contain a `.` in the name.

[2015-10-30 14:41] sharwell commented on #1710
:question: @vweijsters @oatkins What does StyleCop Classic do when you place a non-`partial` class `X` in a file named `X.Y.cs`? For example:

[code]

[2015-10-30 14:45] sharwell commented on #1710
:memo: If StyleCop Classic ignored names of files of this form, I would be in favor of carrying over (and documenting) the additional exception when the `stylecop` file naming convention is used. If StyleCop Classic did not already make this exception, I would prefer simply relying on other exclusion mechanisms (adding `partial` or using `<auto-generated/>`) to cover the case.

[2015-10-30 14:57] DavidDeSloovere commented on #1710
Also wanted to add I already have a `[GeneratedCode]` attribute on my class. Might also be worth looking into skipping files with this attribute. [GeneratedCodeAttribute Class on msdn](https://msdn.microsoft.com/en-us/library/system.codedom.compiler.generatedcodeattribute(v=vs.110).aspx)

[2015-10-30 14:59] sharwell commented on #1710
@DavidDeSloovere See #1094 for that. :smile:

[2015-10-30 15:04] vweijsters commented on #1710
@sharwell for your example StyleCop Classic reports SA1649

[2015-10-30 15:10] vbfox opened #1713 "SA1513 and SA1009 Conflict and code fixes fight between themselves"
In this program :

[code]

Both the `foreach` and `using` trigger SA1513 at the end, but it isn't solvable, applying the codefix will produce SA1009.

Also applying SA1513 code fix once doesn't work, it add a line break between `}` and `)` but no new line, applying it a second time fixes it but SA1009 is still there.

[2015-10-30 15:11] berkeleybross commented on #1710
:+1:  This would fix issue #1648

[2015-10-30 15:53] sharwell commented on #1712
Personally I would prefer one of the following:

1. Document our deviation from StyleCop Classic (continue to enforce SA1117 for attributes), and make sure the SA1117 code fix can correct all of these automatically.
1. Combine the previous item with a **stylecop.json** option which disables SA1117's analysis of attributes.

I lean towards the first item here primarily because every provided option

[2015-10-30 15:55] sharwell commented on #1710
@vweijsters Thanks, sounds like our current behavior already matches the old version.

[2015-10-30 17:55] sharwell commented on #1713
@vweijsters What did StyleCop classic do for this case?

[2015-10-30 19:00] bordecal commented on #1712
Whoops...  I'd started a list of 3 options, and then couldn't remember one of them, which turns out to be your \#2.  That would be fine too, but keeping the current, non-StyleCop compatible behavior without an alternative is not great when it has a non-trivial impact on readability in at least some cases.

(FWIW, if the implementation and testing effort a big concern, I'd be happy to contribute in

[2015-10-30 20:06] vweijsters commented on #1713
SA1513 is not reported for the code above. After manually adding an empty line after the the closing brace, SA1009 is reported.

I would say that this should be corrected in SA1513, so that the code above will not raise SA1513.

[2015-10-30 20:10] sharwell commented on #1713
Agreed, thanks!

[2015-10-30 20:39] whut commented on #1618
blockquote {padding-left: 1ex; margin: 0px 0px 0px 0.8ex; border-left: #cccccc 1px solid;} p {margin: 0px;padding: 0px;}
I'm still sure that for users that do not set warnings as errors, such behavior would be very appreciated, be it enabled by default or not.

[2015-10-30 20:40] vweijsters commented on #1707
@sharwell How did you get this code to produce an SX1101 diagnostic?
This case is covered by the `VerifyThatNecessaryPrefixWillNotProduceDiagnosticsAsync` test case and works fine for me.

[2015-10-30 20:45] sharwell commented on #1707
1. I enabled SX1101 and disabled SA1101 in StyleCop.Analyzers.ruleset.
2. I ran fix all in solution for SX1101.
3. I reverted just the change to StyleCop.Analyzers.ruleset.
4. I ran fix all in solution for SA1101.

After the above steps, you can diff the current code against HEAD to see the places where the SX1101 code fix made a mistake.

This bug report was a simplification of one group of issue

[2015-10-30 20:46] sharwell commented on #1618
@whut Take a look at #1711. Let me know if you think that approach will address the needs of our audience.

[2015-10-30 20:55] vweijsters commented on #1707
OK, that is clear. Unfortunately for the description you picked the only example that is already handled :wink:

[2015-10-30 21:11] sharwell commented on #1707
Just my luck! :smile:

[2015-10-30 22:01] vweijsters commented on #1708
Grabbing this

[2015-10-31 13:46] SurajGupta opened #1717 "SA1313: Drop requirement that underscore (_) is used in lambda"
I'd like to propose that we drop the requirement that an underscore must be used in the lambda for it to pass SA1313.

Here's the original discussion on this matter: https://github.com/DotNetAnalyzers/StyleCopAnalyzers/issues/1343

My argument is this has negative consequences for readability for a wide range of LINQ scenarios.

Here's an example using some pretty typical LINQ

    // this reads w

[2015-10-31 14:13] Maxwe11 commented on #1717
:-1:
Underscore is the most common symbol used for ignored parameters in other languages.
If don't want care about names just name it with a single letter.

[code]
[code]

[2015-10-31 14:27] SurajGupta commented on #1717
I'm not sure how other languages are relevant to this topic.  This is a tool for a specific language - C# and it should be optimized first and foremost for that and I'm saying that underscore improves readability in many LINQ scenarios.  I think you would have to argue that it harms readability.

Also your second sentence maybe implied that you didn't fully read my comment specifically about singl

[2015-10-31 14:54] Maxwe11 commented on #1717
Underscore for ignored arguments it's a best practice in programming proven the years.

In your project maybe. If argument doesn't have name it means that it doesn't matter and it unused.

[2015-10-31 15:05] sharwell commented on #1717
In general I agree with @Maxwe11, but I also have some suggestions.

In many cases, one-letter variable names are a poor choice. However, most people would agree that `i` and `j` are fine when used as a loop index variable. Your case is of course a bit different, but `x` and `y` are frequently used as the names of the first two arguments (as long as they have the same type). In your case, the go-t

[2015-10-31 19:47] #1708 closed

[2015-10-31 21:41] mzervos opened #1718 "Violation of some rules only generate IntelliSense errors, but not build errors"
Some rules (like SA1642) produce InitelliSense errors but the project builds successfully without reporting those errors. I'm using beta15 version.
I don't see any warnings/errors on msbuild logs (i have set verbosity to Diagnostic)

![code](https://cloud.githubusercontent.com/assets/1730009/10866016/01ac27ec-7fdc-11e5-9b74-80a555c17ba5.png)
![build_intellisense](https://cloud.githubusercontent.co

[2015-10-31 21:43] sharwell commented on #1718
Do you see any **AD0001** instances in your diagnostic build output?

[2015-10-31 21:49] mzervos commented on #1718
No. I couldn't find anything weird in the build output. Here it is: http://pastebin.com/Rz5g9rgs

[2015-10-31 22:02] SurajGupta commented on #1717
@sharwell - I can agree that `x` or `y` is not terrible and is widely used, but I also see underscore being used fairly often and I don't think its worse than `x` or `y`.  Do you think it's worse?

@Maxwe11 - Now I'm curious - which of the top 10 languages use underscore as a convention for an unused variable?  Lets use this list: http://spectrum.ieee.org/computing/software/the-2015-top-ten-progra

[2015-10-31 23:57] mzervos commented on #1718
I notice the same behavior for the following rules:
SA1514
SA1609
SA1642
SA1643

[2015-11-01 03:10] sharwell commented on #1718
@mzervos Thanks, that's very helpful. We recently fixed similar issues in a number of spacing rules. Currently I'm not sure what's causing the discrepancy for the rules you identified but we'll figure it out! :smile:

[2015-11-02 12:13] spdufeu opened #1720 "stylecop.json seems to be ignored"
I've created a stylecop.json via the recommended "Add StyleCop settings file to the project" and configured it to be:

[code]

Unfortunately the following header violates SA1636:

[code]

What am I doing wrong?

[2015-11-03 00:23] yaakov-h opened #1721 "Not all rule violations fail MSBuild"
As mentioned in Gitter last week.

[Repro project](https://wisetechglobal-my.sharepoint.com/personal/yaakov_smith_wtg_zone/_layouts/15/guestaccess.aspx?guestaccesstoken=40%2bMHlydC2H85k0D%2fDfgynzwL6bzTlM5Y0OFnN5dcCc%3d&docid=024eba9836b864678a749c29214d98d3d)

The rule in particular here is SA1614, but I've seen it for a handful of different rules. An error shows up in Visual Studio (a warning, c

[2015-11-03 00:32] pdelvo commented on #1721
The problem is that xml documentation output is disabled in this project. If it is disabled the compiler will treat documentation as normal comments on the command line. If this is the case we cant really analyze then. This is why we added SA1652 that makes sure xml documentation output is enabled. It works in the ide because it overrides the documentation mode to diagnose.

[2015-11-03 11:45] meh-uk commented on #1144
I would like to see this.

[2015-11-03 18:44] rkeithhill opened #1722 "Needs to support .NET CoreClr coding style"
I would like to use these analyzers but our team has adopted the coding style required by the .NET CoreClr that contributors need to follow:

https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/coding-style.md

It would be nice if the rules could support the above coding style guidelines.  For instance, how can I enforce that private/internal instance fields are prefixed w

[2015-11-03 20:16] vweijsters commented on #1720
Not sure what is happening. Could you try and edit the .csproj file so that it adds the `stylecop.json` file as `AdditionalFiles`? See the sample below what that should look like. Also make sure that the `stylecop.json` entry is not combined with other entries in the same `ItemGroup`.

[code]

[2015-11-03 20:30] vweijsters commented on #1722
Thanks for your feedback. It is a goal of this project to make sure that (with some configuration) the mentioned coding style is supported. Most of it should be supported already, if there are specific problems please create an issue for each problem that you encounter to make sure that we can easily address and track it.

Several of our optional rules already provide functionality towards verifyi

[2015-11-03 20:50] #1706 closed

[2015-11-03 20:50] #1707 closed

[2015-11-03 22:33] rkeithhill commented on #1722
Thanks for the info - very useful.  BTW I don't think SX1309S follows the CoreClr convention which would be `s_field` for a private static field.   Perhaps we need another rule?

[2015-11-03 22:33] #1722 closed

[2015-11-03 22:47] rkeithhill opened #1723 "SX1309S is close but not quite right for CoreClr guidelines"
This rule needs to enforce `s_` prefix for private/internal static (non-readonly) fields. See #3 here:

https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/coding-style.md

[2015-11-04 01:36] sharwell commented on #1723
This particular rule wasn't created as a corefx rule. I've been thinking about how this can be better generalized, but I'm not quite ready to make a proposal.

[2015-11-04 02:04] yaakov-h commented on #1721
Thanks.

Closing this. The other rule I thought wasn't showing up in MSBuild isn't a StyleCop warning, but a VS enhancement ("Using directive is unnecessary.").

[2015-11-04 02:04] #1721 closed

[2015-11-04 09:51] vweijsters commented on #1688
Grabbing this

[2015-11-04 10:22] vweijsters commented on #1678
Grabbing this

[2015-11-04 12:54] caveman-dick commented on #1720
I had the same issue when I first added the file. Restart of VS fixed it for me.

[2015-11-04 12:57] caveman-dick commented on #1720
Scrap that, it wasn't the restart. It was the fact that the file was set as content.

[2015-11-04 18:47] rkeithhill opened #1727 "ExcludeFromStyleCop should accept True as well as true"
I was wondering why StyleCop.Analyzers wasn't skipping a file and it was because I used the value `True` which is prevalent in CSPROJ file.  It seems to me that both `True` and `true` should be accepted.

[2015-11-04 18:51] sharwell commented on #1727
Currently StyleCop Analyzers doesn't support ExcludeFromStyleCop at all. This is a duplicate of #726.

[2015-11-04 18:52] #1727 closed

[2015-11-04 19:08] rkeithhill commented on #1727
Yeah, I just noticed that.  Thought it was working but no.  :-(

[2015-11-04 19:38] vweijsters commented on #1677
Grabbing this

[2015-11-04 21:23] GenZodd commented on #1720
This worked for me, for some reason. I only had to add it to a couple projects in the solution for it to fix it for all.

[2015-11-04 22:00] #1678 closed

[2015-11-04 22:39] rkeithhill opened #1729 "SA1649 reports mismatched filename for typename incrrectly for generic type"
I could be wrong here but it seems that it should be OK to have a filename of `Foo.cs` for typename `Foo<T>`.

[2015-11-05 09:40] spdufeu commented on #1720
After some digging, @vweijsters was right.

For a Web Application project, the stylecop.json file is created with a "Build Action" configuration of "Content". Changing this to "Additional Files" fixed my issue.

For a Class Library project, the stylecop.json file is created with a "Build Action" configuration of "None". That seems to work fine.

Thanks for your help.

[2015-11-05 14:48] oatkins opened #1730 "SA1649 (File name must match first type name) for generic types shouldn't require generic specification"
For the type `Fish<T>`, legacy StyleCop permits either "Fish{T}.cs" *or* "Fish.cs" as the file name.

Our analyzer allows the former, prefers "Fish`1" but does not accept plain old "Fish.cs". I like the legacy behaviour, since I prefer to omit the qualification in the file name unless there is a non-generic version of the type too.

Apologies if this has already been discussed, but I couldn't find

[2015-11-05 15:37] rkeithhill commented on #1729
Another option is to split this rule two - one for non-generic types and another rule for generic types but it would be nice if the non-generic rule still enforced that Foo<T> was in a file called Foo.cs (and not Bar.cs).

[2015-11-06 07:04] #1688 closed

[2015-11-06 15:58] arashk1368 opened #1731 "Documentation rules inside of setting file not working"
Hi,

I tried to use the option of not requiring documentation of internal members as instructed in https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/Configuration.md

[code]

However, it does not work. I closed visual studio and re-opened it. Added the file to additional files but, none of them worked.
Even this element is not defined in the schema.

[2015-11-06 16:13] arashk1368 opened #1732 "Reading settings file from the solution"
Hi,

It would be nice to be able to define the settings in the solution level and use it in the projects. I tried to put stylecop.json file in the solution but, the analyzer is not reading it.

[2015-11-06 16:27] arashk1368 commented on #1731
Sorry it was a mistake in the definition of the settings file.

[2015-11-06 20:15] vweijsters commented on #1732
What you can do is define the `stylecop.json` file in the solution folder and create a link to it from each project. That should work fine. I don't think that an other solution is currently possible, given that analyzers currently cannot access the MSBuild environment at all.

[2015-11-06 20:23] arashk1368 commented on #1732
Yes, that would be possible. However, because you have to include the settings file inside of the csproj file, Visual Studio will have problems. Generally, it has issues when two projects in the same solution reference the same file.

[2015-11-06 21:59] oatkins opened #1733 "Code fix for SA1200 (Using directives must be inside namespace) doesn't work well with conditional compilation directives"
The code fix for the following code results in code that won't compile:

[code]

The using block is rearranged as:

[code]

We did hid something similar in real code, though the code fix *did* handle 99.9% of the project correctly and this is a rather unusual case.

[2015-11-07 04:25] #1692 closed

[2015-11-07 15:03] vweijsters commented on #1733
Confirmed as bug and grabbing this to fix it.

[2015-11-07 16:12] wwwlicious commented on #1732
For the original stylecop I currently generate project level settings.stylecop files to link to a solution level settings.stylecop file and automate copying this link file to all solution projects (regardless of folder nesting) (where they do not exist) using nuget init.ps1 scripts that run (but only when you open the package explorer). This ensures that even as projects are added and removed over

[2015-11-07 16:37] vweijsters opened #1734 "DiagnosticVerifier.VerifyDiagnosticResults should cope with non-deterministic Roslyn behavior"
Currently `DiagnosticVerifier.VerifyDiagnosticResults` does check the order in which expected diagnostics occur. This occasionally leads to failed tests, because the order in which diagnostics are produced by Roslyn is not (always) deterministic at the moment.

Also see dotnet/roslyn#372 and dotnet/roslyn#1506 for details

[2015-11-07 20:01] sharwell commented on #1720
@spdufeu One option is to implement the same trick for Content that we used for cases where the Build Action is set to None. However, I'm concerned that leaving stylecop.json with a Build Action of Content may have negative side effects regarding publication of a web application project. We don't want to deploy stylecop.json; if it has a Build Action of Content does it get deployed automatically d

[2015-11-07 20:02] sharwell commented on #1718
@mzervos Do you have SA1652 disabled?

[2015-11-07 20:13] sharwell commented on #1730
The current implementation should not accept both **Fish{T}.cs** and **Fish`1.cs**. The naming convention should be controlled by the fileNamingConvention configuration option. When using the metadata naming convention, the generic type arity would always be required (the metadata name of `Fish<T>` is <tt>Fish&#x60;1</tt>, not `Fish`). When using the stylecop naming convention, I think we should s

[2015-11-07 20:15] sharwell commented on #1729
@rkeithhill We are currently investigating this issue as a deviation from StyleCop Classic (which gives it "special" status) in #1730. I'm going to mark this as a duplicate of the content in #1662 and #1730.

[2015-11-07 20:15] #1729 closed

[2015-11-07 20:25] sharwell commented on #1732
@arashk1368 @wwwlicious Based on a meeting I had this week, it's almost certain that the method of including configuration will change (and be *much* more usable) in an upcoming release of Roslyn (I'm crossing my fingers for 1.2). Prior to that, I don't plan to make any changes based solely on usability (since it would just change again with the Roslyn update).

With Roslyn and our analyzers as po

[2015-11-07 20:33] sharwell opened #1736 "Investigate workarounds for thread pool explosion"
A bug in `AdditionalFile.GetText` (fixed in dotnet/roslyn#6596) can cause thread pool explosions which result in long delays (UI hangs) when analyzers are enabled in Visual Studio. We currently use this method in `SettingsHelper` to read the **stylecop.json** file. As a workaround prior to this bug being fixed, we should investigate the use of an alternative approach (e.g. `File.ReadAllText` based

[2015-11-07 21:19] #1677 closed

[2015-11-07 21:21] #1733 closed

[2015-11-07 21:23] #1732 closed

[2015-11-07 22:31] dcooke28 commented on #953
I'll look into this

[2015-11-08 10:05] vweijsters commented on #1730
@sharwell For this example SA1649 is not reported. I think we should fix this for the `stylecop` file naming convention.

[2015-11-08 10:29] vweijsters commented on #1680
I think we can close this. None of these types are inheritable. For more details:
- Destructors cannot be inherited (CSharp Language Specification v5.0 - §10.13)
- Operators cannot be inherited because they must be static (CSharp Language Specification v5.0 - §10.10)

[2015-11-08 10:32] vweijsters commented on #1680
These kinds are not inheritable, therefore using `/// <inheritdoc/>` on them should produce a diagnostic. I think this is a bug.

[2015-11-08 10:36] vweijsters commented on #1679
I think this is a bug. All other initializer expressions are handled by SA1500, to me this is clearly an oversight, as this one was introduced in C# 6.

[2015-11-08 10:37] vweijsters commented on #1654
Grabbing this

[2015-11-08 19:29] sharwell commented on #1730
Agreed, but only for the `stylecop` naming convention. :+1:

[2015-11-08 19:31] sharwell commented on #1680
Agreed. Also, this matches the behavior we use for documentation comments on fields.

[2015-11-08 19:31] sharwell commented on #1679
Is this the new syntax for dictionary initializers?

[2015-11-08 19:42] #1654 closed

[2015-11-08 19:49] vweijsters commented on #1679
As far as I know, yes.

[2015-11-08 20:10] bexxx commented on #1507
I think I found a repro case. Took me a while staring at the screen :)

[2015-11-08 20:34] bexxx commented on #1507
Pull request for fix: https://github.com/DotNetAnalyzers/StyleCopAnalyzers/pull/1740

[2015-11-08 22:01] sharwell commented on #1734
Marking this as a :bug: since we shouldn't have been making these assumptions from the start.

[2015-11-08 22:01] #1723 closed

[2015-11-08 22:05] sharwell commented on #1723
Marking as invalid, since the current behavior was by design. I am confident this will be revisited in the future (after the 1.0 release) when we shift focus to supporting a wider variety of usage scenarios.

[2015-11-08 22:11] sharwell commented on #1717
@SurajGupta All of your examples of cases you want to use are actually already supported starting with the Beta 11 release. For now I'm going to close this as a duplicate of #1343, but if you find another case which is not covered and you want to reopen discussion please feel free to comment or create a new issue showing code which currently produces a warning.

[2015-11-08 22:11] #1717 closed

[2015-11-08 23:20] sharwell commented on #1734
Grabbed

[2015-11-09 14:15] sharwell commented on #1730
Summary of desired behavior for class `Foo<T>` with the `stylecop` naming convention:

* Analyzer: allow **Foo{T}.cs** or **Foo.cs**
* Code fix: always move the class to **Foo{T}.cs**

[2015-11-09 14:27] pdelvo commented on #1730
grabbed

[2015-11-09 17:09] sharwell opened #1744 "Convert UsingCodeFixProvider use of IsAnalyzerSuppressed to configuration"
Currently the behavior of `UsingCodeFixProvider` varies based on whether or not SA1200 is suppressed. The code fix should not rely on this type of configuration; the behavior should instead be exposed as an explicit option in **stylecop.json**.

[2015-11-09 17:12] sharwell opened #1745 "Convert ElementOrderCodeFixProvider use of IsAnalyzerSuppressed to configuration"
Currently the behavior of `ElementOrderCodeFixProvider` varies based on whether or not various rules are suppressed (SA1201, SA1202, SA1203, SA1204, SA1214, SA1215). The code fix should not rely on this type of configuration; the behavior should instead be exposed as explicit options in **stylecop.json**.

[2015-11-09 17:14] sharwell opened #1746 "Convert SA1501 (StatementMustNotBeOnASingleLine) use of IsAnalyzerSuppressed to configuration"
Currently the behavior of SA1501 (StatementMustNotBeOnASingleLine) varies based on whether or not SA1503 is suppressed. The analyzer should not rely on this type of configuration; the behavior should instead be exposed as an explicit option in **stylecop.json**.

[2015-11-09 17:17] sharwell opened #1747 "Convert SA1210 (UsingDirectivesMustBeOrderedAlphabeticallyByNamespace) use of IsAnalyzerSuppressed to configuration"
Currently the behavior of SA1210 (UsingDirectivesMustBeOrderedAlphabeticallyByNamespace) varies based on whether or not SA1208 is suppressed. The analyzer should not rely on this type of configuration; the behavior should instead be exposed as an explicit option in **stylecop.json**.

[2015-11-09 17:19] sharwell opened #1748 "Remove SA1003 (SymbolsMustBeSpacedCorrectly) use of IsAnalyzerSuppressed"
Currently the behavior SA1003 (SymbolsMustBeSpacedCorrectly) of varies based on whether or not other diagnostics are suppressed (SA1020, SA1021, SA1022). This behavior is unnecessary for SA1003 and should be removed.

As a clarification: SA1003 should never report violations for the tokens which are handled by the other diagnostics mentioned above, whether or not those diagnostics are suppressed.

[2015-11-09 19:43] vweijsters commented on #1747
Are you talking about the UsingCodeFixProvider or the SA1210 analyzer here?

[2015-11-09 19:47] sharwell commented on #1747
This one is the analyzer. Sorry about the copy/paste confusion. :smile:

[2015-11-09 19:49] vweijsters commented on #1747
Then I don't agree. Adding a configuration option would only make things more difficult for the end user, as the option in the **stylecop.json** file would only be another way of indicating that SA1208 is suppressed. Unless we eliminate one of the analyzers, there is in my opinion no elegant solution.

[2015-11-09 19:51] #1730 closed

[2015-11-09 19:52] vweijsters commented on #1744
I don't agree. The end user would not benefit from this. He/she would have to remember to correctly configure the **stylecop.json** file, besides enabling/disabling the desired analyzers. The goal of the current behavior is to generate correct code based on the analyzers enabled and that cannot be done more efficiently by adding a configuration setting.

[2015-11-09 20:01] sharwell commented on #1747
@vweijsters The goal here is to make the analyzer configuration deterministic. There are two limitations which this will overcome:

1. The current behavior does not allow users to disable problematic analyzers (e.g. for performance reasons, to avoid bugs, or in cases where they are not yet ready to address violations reported by the analyzer) without changing the behavior of other analyzers which

[2015-11-09 20:02] sharwell commented on #1744
:memo: I responded to this in #1747.

[2015-11-09 20:03] #1734 closed

[2015-11-09 20:12] vweijsters commented on #1747
Fair points, but I still have issues with disabling functionality in two places, but there may be a way around that. My suggestion would be to make the setting leading, effectively giving it the power to disable (parts of) certain analyzers.

For example:
If there would be a configuration option called **systemUsingsFirst** and it would have a value of **false**, would it be acceptable to make SA1

[2015-11-09 20:15] sharwell commented on #1747
Absolutely :+1:

[2015-11-09 20:16] #1748 closed

[2015-11-09 20:29] vweijsters commented on #1747
@sharwell would you be so kind to amend the mentioned issues with the proposed configuration settings and their effect?

[2015-11-09 21:03] sharwell commented on #1747
@vweijsters  Good point. I removed the **up for grabs** label from each of the affected issues until I can get this information in.

[2015-11-10 01:57] mzervos commented on #1718
Yes, SA1652 is disabled. If I enabled it, the other rules cause errors on build as well.
Is this the expected behavior or is it a bug?
I'd prefer to be able to enable the other rules without having to enable XML documentation output.

[2015-11-10 02:28] sharwell commented on #1718
This is not possible. SA1652 should not be disabled, even if you are not using the output files. See the [documentation for SA1652](https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA1652.md) for more information.

[2015-11-10 03:58] mzervos commented on #1718
How are they enabled and detected on IntelliSense though without having SA1652 turned on?

[2015-11-10 04:34] sharwell commented on #1718
I have no idea actually. It could be that Roslyn uses special settings for the IntelliSense parser in order to properly apply syntax highlighting and other editor features inside of documentation comments, but these are disabled when compiling unless the XML output is enabled. I'm going to mark this as **external** since it's other case where the underlying cause of dotnet/roslyn#2773 is causing p

[2015-11-10 04:34] #1718 closed

[2015-11-10 11:27] martincostello commented on #1648
I've just come across this issue myself migrating an existing project to these analysers. For the case of ```Global.asax```, changing the name of the ```Global.asax.cs``` file seems like an unnecessary change considering this is how almost every ASP.NET project created prior to ASP.NET 5 will already be.

Adding ```<auto-generated>``` as discussed in #1710 isn't a good solution  as many (including

[2015-11-10 12:29] martincostello opened #1750 "Warnings Are Not Raised For Code In Conditional Compilation That Is False At Compile Time"
Consider the following piece of code:

[code]
When compiled locally, the code has no warnings. When compiled with ```TFS_BUILD``` defined, it raises SA1025.

This leaves CI builds open to breakage as warnings can be introduced by changes that can't be found easily locally, which then go on to break a build. I imagine similar issues could be found through code that uses ```#if DEBUG```, ```#if TRAC

[2015-11-10 12:49] sharwell commented on #1750
Code inside preprocessor directives which are disabled is reported as excluded code by Roslyn. It's not possible to perform any meaningful analysis inside these blocks unless you (for this case) define `TFS_BUILD`. I'm marking this as **wontfix**, but in reality it's more of a "can't fix".

FWIW, the correct way to exclude these test methods for a TFS build is to pass the following flag to **vstes

[2015-11-10 12:49] #1750 closed

[2015-11-10 12:52] martincostello commented on #1750
@sharwell Fair enough if it can't be fixed. We also use the test case filters as well, this is just an additional thing we put it for some other unrelated reasons.

[2015-11-10 12:54] sharwell commented on #1750
:memo: If you encounter a case where analysis is incorrect when using `#if true`, please do file a bug. I'm having trouble finding an example right now, but we've fixed a few over time.

[2015-11-10 14:01] martincostello commented on #1597
In addition to ```XElement```, another use case is Moq's ```It.Is<T>(Expression<Func<T, bool>> match)``` method used for setting up instances of ```Mock<T>```.

For example:

[code]

I've got a few occurrences in code where the expression tree is quite complex, so is split over multiple lines. In StyleCop classic this didn't raise a warning, but does using the new analysers.

Splitting it into a s

[2015-11-10 16:04] sharwell commented on #1563
I'm now more of a :-1: on this because of [CS0078](https://msdn.microsoft.com/en-us/library/s74dtt7k.aspx).

[2015-11-10 20:12] GregReddick commented on #1563
I think there should be a consistent rule on the literal suffixes. I really don't care what it is, I can live with whatever is decided, but there should be one. It can't violate CS0078. I hate looking through my code and finding that I do something one way in one place and a different way in another place.

[2015-11-11 10:28] vweijsters commented on #1713
Grabbing this

[2015-11-11 10:45] vweijsters commented on #1680
Grabbing this

[2015-11-11 11:02] vweijsters commented on #1679
Grabbing this

[2015-11-11 12:13] vweijsters commented on #1679
Apparently I was wrong. Complex initializer expressions are like:
[code]

[2015-11-11 12:13] vweijsters commented on #1679
Still a bug though :wink:

[2015-11-11 12:16] vweijsters commented on #1663
Grabbing this

[2015-11-11 13:13] #1713 closed

[2015-11-11 13:15] #1680 closed

[2015-11-11 13:16] #1679 closed

[2015-11-11 13:18] #1663 closed

[2015-11-11 13:27] #1036 closed

[2015-11-11 13:27] #1037 closed

[2015-11-11 19:45] sharwell opened #1756 "Proposal: Remove SA1402 exclusion of "helper types""
Currently SA1402 is written such that it only applies to classes. However, SA1649 applies to the first _type_ in a file. As such, there is a fundamental conflict between rules SA1201, SA1402, and SA1649.

I propose modifying SA1402 to no longer allow a file to contain more than one top-level _type_, regardless of the kind of type. The primary rationale is that a type which is directly related to t

[2015-11-11 19:47] sharwell opened #1757 "SA1649 ignores delegate types"
Currently SA1649 does not treat a top-level delegate as a type, and thus ignores it for the purpose of checking the name of a class. Since delegates are compiled to types, they should be considered by this diagnostic.

@vweijsters Do you have any objections to me marking this as a :bug:?

[2015-11-11 20:21] vweijsters commented on #1757
I'm not sure, but I'm leaning towards a no. All depends on the usage scenarios of top level delegates. I personally never use them, but if a common usage scenario is to define several of them in one file, people might get annoyed by having to name the file after the first delegate.

I also did a quick test with StyleCop classic and it does not flag top level delegates for SA1649.

[2015-11-11 20:27] vweijsters commented on #1756
:+1: Agree. I would consider exempting delegates, as they are not on the same level as classes, interfaces, structs and enums. See also my comment in #1757.

[2015-11-11 21:47] appel1 commented on #1756
We'd probably write our own variant of this rule to avoid the file explosion it'd cause in our projects. We've already done so with SA1649 partly to avoid this conflict.

[2015-11-11 21:53] vweijsters commented on #821
Grabbing this

[2015-11-11 22:55] vweijsters commented on #1001
Grabbing this

[2015-11-11 23:13] #1736 closed

[2015-11-11 23:14] #821 closed

[2015-11-12 05:30] jimmymain opened #1759 "code fixes for SA1600."
Hi,

The old style cop code fixes in resharper used to provide default text for properties and methods that made it really easy to document code elements.

I note that SA1600 does not currently have a code fix.

I would be open to implementing it myself if I still needs to be done.

[2015-11-12 05:36] sharwell commented on #1759
The one case where we currently support a code fix for SA1600 (and CS1591) is [`InheritdocCodeFixProvider`](https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/DocumentationRules/InheritdocCodeFixProvider.cs). In general we've avoided providing code fixes for documentation except in cases where we expect to provide *meaningful* documenta

[2015-11-12 05:40] sharwell commented on #1759
I'm marking this as a duplicate of #764.

[2015-11-12 05:40] #1759 closed

[2015-11-12 05:40] sharwell commented on #1757
Marking **wontfix**, at least for now.

[2015-11-12 05:40] #1757 closed

[2015-11-12 05:42] sharwell commented on #1756
I think the exception for delegates would be common, so I'm narrowing this proposal to simply considering `interface`, `struct`, and `enum` types (in addition to `class` which is already supported).

[2015-11-12 05:45] sharwell opened #1760 "Proposal: Remove SA1402 exception for multiple partial elements in the same file"
Currently SA1402 has the following special case:

I've never seen code like this, and believe most users would find it especially difficult to read. Its overall effect is similar to the use of `#region`, but it is substantially less common. I don't think we need this exception, which would also simplify our implementation and testing of this rule.

[2015-11-12 06:22] jimmymain commented on #764
Hi,
I think sometimes the details can be filled in.
In the case of a properly named property it would be helpful.

[code]

Could quite easily be documented as:
[code]

I think there is value in this, particularly in the case of correctly named properties.
It's a real time saver.

thoughts?

[2015-11-12 06:35] sharwell commented on #764
@jimmymain It was my impression that several people working on this find automatically-generated documentation wrong (or useless) more frequently than it is correct (or useful). Right now I can't find the conversation I was thinking of. While they obviously have good intentions, I'm definitely not a fan of the behavior of tools like [GhostDoc](https://visualstudiogallery.msdn.microsoft.com/46A2057

[2015-11-12 08:34] 0x084E opened #1761 "Implement SA1135: Using directives must be qualified"
In Visual Studio 2015 if you add a using directive via quick actions inside of a namespace the namespace in the using statement is cut down if a part of the included namespace is also part of the outer namepsace.

E.g.: You Are In N1.N2 and you include N1.N2.N3 it is cut down to N3
`namepsace N1.N2 { using N3; }`
You are in N1.N2 and include N1.N4.N5 it is cut down to N4.N5
`namepsace N1.N2 { usin

[2015-11-12 09:13] jimmymain commented on #764
On the whole, I agree, though my feeling is that my case for properties is pretty strong.
I will implement a fix separately and post a link to it.

[2015-11-12 09:31] patricksadowski commented on #1143
Alternative proposal: The analyzer could use the language specified by the `NeutralResourcesLanguageAttribute`.

[2015-11-12 11:06] pdelvo commented on #764
The documentation rules are there for a reason. The developer should write documentation that helps someone who reads the code to better understand it. Auto generated documentation for properties do not provide any value at all and the only effect it has is that it suppresses the diagnostic. This defeats the purpose.

[2015-11-12 12:48] jimmymain commented on #764
Hi,

I understand and appreciate your point of view.
There are however a lot of cases where simple POCO objects are used. The
code fix would save time as the properties are self documenting.

There should then be a convenient way of suppressing the analysis for only
these POCO instances - which I also don't think is practical.

On Thu, 12 Nov 2015 at 13:06 Dennis Fischer <notifications@github.com>

[2015-11-12 13:09] sharwell commented on #1761
I've been back and forth on this issue. I think it does make sense though, and I also think most existing code using StyleCop Classic would already follow this rule.

:+1:

[2015-11-12 16:54] dcooke28 commented on #1760
This sounds good to me.  Unrelated to whether this happens there does seem to be an edge case of having a partial class span multiple files where the file name cannot be the same and we wouldn't be able to rely on the file name as a preferred class name.  SA1649 also ignores partials and this scenario seems to be at the point of having diminishing returns.

[2015-11-12 17:05] sharwell commented on #1760
It turns out you actually don't need to treat partial classes any differently for this.

* If the partial class name matches the current file, it is preferred to keep that class in the current file (same as any other type)
* If the partial class name does not match the current file, but another file in the project already has that name, Roslyn will automatically rename the file when you try to add

[2015-11-12 18:51] jkanczler commented on #1430
sharwell, we're using a custom code generator for example. Of course I can easily change the code generator to generate the <auto-generated/> tag, but I think it's not a flexible solution by the StyleCop analyzer. As a tool it should support multiple excluding mechanism as Microsoft's Code Analysis supports multiple solutions as well. As for the record Microsoft's CodeAnalysis can understand the S

[2015-11-12 19:38] vweijsters commented on #1761
:+1: I prefer the explicit clarity without me having to puzzle at what point the common part starts.

[2015-11-12 20:16] 0x084E commented on #1761
I've mentioned one more problem: Consider the namepsaces `System.Xml``System.Xml.Linq` and `System.Linq`. If you want to import a type from `System.Xml.Linq` or `System.Linq` into `System.Xml` the analyzer is smart enough to detect that importing one of them as `Linq` would result in a not resolvable using and imports it qualified.
If either of `System.Xml.Linq` or `System.Linq` doesn't exist at t

[2015-11-12 20:23] sharwell commented on #1430
@jkanczler See #1094 regarding `GeneratedCodeAttribute`.

[2015-11-12 20:47] bexxx opened #1764 "Spacing issue not detected in expression-bodied members"
[code]

The missing space around `=>` is not identified by the current rules (before and after are not detected).

[2015-11-13 00:38] #1001 closed

[2015-11-13 00:40] #1507 closed

[2015-11-13 04:37] GregReddick opened #1766 "Differences with classic StyleCop"
I have a test suite for classic StyleCop (and Code Analysis) that I created for trying to trigger each of the warnings. I just ran it on StyleCop Analyzers. There are some differences. These should probably be triaged and bugs created in cases where it is warranted. In some cases, I think they should just be documented.

Issue D1: Related to SA1642.

If there is a class with a private empty constr

[2015-11-13 05:10] sharwell commented on #1766
Thanks for taking the time to do this. :+1:

The behavior is by-design, see #413. The documentation does not accurately reflect this, so a documentation bug should be created.

Suppressions are completely handled by Roslyn, not by our code. You can disable the warning throughout a file by using the following syntax:

[code]

This is intentional (see #998).

This is a side effect of an intentional

[2015-11-13 05:11] sharwell commented on #1766
I'll reopen this with the action item of filing issue reports for the items mentioned at the end of my comment.

[2015-11-13 20:23] GregReddick commented on #1766
Do you want me to created the related issues?

[2015-11-13 20:25] sharwell commented on #1766
You get "dibs" on them since you spotted them - I'll let you take credit for all those issues. If you don't want to let me know and I'll file them tonight.

[2015-11-13 20:28] JohanLarsson opened #1767 "Code fix for SA 1202 breaks code"
[code]

[2015-11-13 20:30] sharwell commented on #1767
@Noryoko @hvanbakel How would you recommend this be handled?

[2015-11-13 20:34] GregReddick commented on #1766
I'll take care of it later today. I'll try to strip them down a bit, too, as I just copied and pasted from my test suite.

[2015-11-13 22:06] nbarbettini opened #1768 "SA1012 is reported for single-line index initializer"
SA1012OpeningCurlyBracketsMustBeSpacedCorrectly is reported for the following:

[code]

The fix puts a space in between `{ [0]`, like:

[code]

This is fine (I think it looks more readable), but unfortunately it conflicts with VS2015's default code formatter. If you use Edit - Format Document (`Ctrl-K, D`) type a semicolon at the end of the line, or paste the code somewhere else, it reverts back t

[2015-11-13 22:14] sharwell commented on #1768
This sounds like a bug in Roslyn. I recommend filing an issue there, especially if Visual Studio 2013 did not behave this way.

Marking as **external** since the code fix is working properly and the formatter is outside our control. :smile:

[2015-11-13 22:14] #1768 closed

[2015-11-15 19:33] bexxx commented on #819
Would this mean to offer three fixes (move into block, move out and make it four slashes? (+getting indentation right)

[2015-11-15 19:45] pontusi commented on #1668
I've had this error happen twice, but it disappears when I reopen the solution making reproduction hard. Trace matches Nikolay's.

My project contains classes that use the ["implicit operator"](https://msdn.microsoft.com/en-us/library/z5z9kes2.aspx) to convert from integers and strings. That may or may not be relevant.

[2015-11-15 20:07] sharwell commented on #819
I would work on them in this order:

1. Move into block
2. Mark as commented code (add two leading slashes to give 4 total)
3. Move out of block. This one could be tricky if you have something like this:

[code]

[2015-11-15 20:38] sharwell opened #1770 "UsingCodeFixProvider does not handle aliases correctly"
Currently UsingCodeFixProvider can merge two using directives which do not use the same alias. The correct behavior is to allow merging a using directive which does not have an alias with any using directives which have the alias `global::`. Using directives with any other alias can only be merged with other using directives that have exactly the same alias.

[2015-11-15 21:19] bexxx commented on #1764
I'll make a SA1003 out of it + add quick fixes.

[2015-11-16 06:10] sharwell opened #1771 "UsingCodeFixProvider does not expand aliases when moved inside a namespace"
The following code is fine in C#:

[code]

However, when the `UsingCodeFixProvider` moves using directives inside a namespace, it produces the following code which does not compile:

[code]

[2015-11-16 15:39] hvanbakel commented on #1767
@sharwell I would suggest to leave it like this to be honest. This is just a (hopefully very rare) edge case in my opinion with a public field which could've been encapsulated as a property.

[2015-11-16 17:34] GregReddick commented on #1766
Sorry, had some internet connectivity issues with Comcast this weekend. Think they are all sorted out. Making the move to new issues now.

[2015-11-16 17:39] GregReddick opened #1773 "Documentation bug with SA1642"
See #1766

Issue D1: Related to SA1642.

If there is a class with a private empty constructor, the documentation text in classic StyleCop requires it to begin with "Prevents a default instance of the <see cref="whatever" /> class from being constructed." The current rule requires "Initializes a new instance...".

Sam's reply:

The behavior is by-design, see #413. The documentation does not accurat

[2015-11-16 17:41] GregReddick opened #1774 "Code triggers both SA1000 and SA1008"
See #1766

Issue D3: Related to SA1000 and SA1008

The following code would only trigger SA1000 in classic StyleCop. The current analyzer triggers both SA1000 and SA1008:
[code]

[2015-11-16 17:43] GregReddick opened #1775 "Code triggers both SA1003 and SA1020"
See #1766

Issue D4: Related to SA1003 and SA1020

The following code would only trigger SA1020 in classic StyleCop. The current analyzer triggers both SA1020 and SA1003.

[code]

[2015-11-16 17:45] GregReddick opened #1776 "Code triggers both SA1003 and SA1023"
See #1766

Issue D5: Related to SA1003 and SA1023

The following code would only trigger SA1023 in classic StyleCop. The current analyzer triggers both SA1023 and SA1003. (This is unsafe code.)

[code]

[2015-11-16 17:48] GregReddick opened #1777 "Code triggers both SA1002 and SA1106"
See #1766

Issue D6: Related to SA1106 and SA1002

The following code would only trigger SA1106 in classic StyleCop. The current analyzer triggers both SA1106 and SA1002.

[code]

[2015-11-16 18:13] sharwell commented on #1775
This was likely fixed in #1749, but needs tests.

[2015-11-16 18:14] sharwell commented on #1776
SA1003 should not be reported here. Users who want spacing around this operator analyzed can leave SA1023 enabled.

[2015-11-16 18:18] sharwell commented on #1777
1. Empty statements are relatively infrequent in user code
2. In most configurations, typing the second `;` would cause Visual Studio to automatically insert a space (or newline), resulting in code that only triggers SA1106.

Based on this, I see the issue as minor so I'll mark it **up for grabs** but not necessarily targeted to the 1.0 release. Of course if someone gets around to it...

[2015-11-16 18:20] sharwell commented on #1774
This is a minor issue. The code fixes for both SA1000 and SA1008 would appear here, but they do exactly the same thing. Ideally the analyzers would only report SA1000 here.

Marking as a bug that's up for grabs, but not necessarily targeted to the 1.0 release.

[2015-11-16 18:33] GregReddick opened #1778 "Code triggers SA1202 instead of SA1400"
First reported in #1766, Issue D9, with some refinements here.

This is a difference with classic StyleCop. In classic StyleCop the code below would trigger SA1400 and SA1205. In the current analyzer it triggers SA1202 and SA1205. It boils down to the fact that the partial classes without an access modifier may appear before or after the public class, depending on the access modifier assigned. Cla

[2015-11-16 18:35] sharwell commented on #1767
The code above is interesting. It's almost always a bug to have code like this, and an analyzer could certainly report cases where it occurs. Filed DotNetAnalyzers/Proposals#42.

I am concerned about the code fix behavior for the following reasons (which all add up to what looks like a pretty major problem):

1. The code fix is not expected to change behavior at all, but it can.
2. The incorrect c

[2015-11-16 18:55] GregReddick opened #1779 "Protected readonly field reporting SA1401"
First reported in #1766, Issue D10, with some refinements here.

The following code is reporting SA1401. Classic StyleCop did not report anything.

[code]

[2015-11-16 19:01] pdelvo commented on #1779
Whatever we decide to do here we should change the documentation to reflect that. If I follow the documentation reporting SA1401 is the right thing to do.

[2015-11-16 19:02] sharwell commented on #1778
I believe the current StyleCop Analyzers behavior is correct. We should probably just document this.

[2015-11-16 19:15] GregReddick opened #1780 "Code doesn't report SA1304"
First reported in #1766, Issue D11, with refinements here.

The code below would report SA1304, SA1307, and SA1311 in classic StyleCop. In the current analyzer, it reports only SA1307 and SA1311, not reporting SA1304. I think even two warnings may be too much, and we should at the least document the difference, and consider suppressing SA1307 too. If there is a large code base trying to be changed

[2015-11-16 19:18] GregReddick opened #1781 "A blank line above a file header reports SA1517 and SA1633"
A blank line above a file header only reported SA1517 in classic StyleCop. In the current analyzer it reports both SA1517 and SA1633.

[2015-11-16 19:22] GregReddick opened #1782 "Code triggers SA1611 instead of SA1612"
See #1766, Issue D18

The following code would trigger SA1612 in classic StyleCop. In the current analyzer, it triggers SA1611.

[code]

[2015-11-16 19:26] sharwell commented on #1780
Related to #574 and #1306.

I think only SA1311 should be reported here.

[2015-11-16 19:27] sharwell commented on #1781
Our file header diagnostics should be resilient to this condition. Marking as a :bug: which is up for grabs.

[2015-11-16 19:33] sharwell commented on #1782
I'm observing this code producing SA1611 *and* SA1612. The interesting thing to me is it also produces CS1573 (duplicating SA1611) and CS1572 (duplicating SA1612).

[2015-11-16 19:43] GregReddick commented on #1782
You are correct. Changed the title.

[2015-11-16 19:50] GregReddick commented on #1766
I think all the issues needed have been created. Closing this issue.

[2015-11-16 19:50] #1766 closed

[2015-11-16 19:58] vweijsters commented on #1668
Grabbing this

[2015-11-16 23:08] JohanLarsson commented on #1767
@hvanbakel pretty common in WPF, not sure you can declare a [readonly dependency property](https://msdn.microsoft.com/library/ms754044(v=vs.100).aspx) without violating it.

[2015-11-17 11:53] #1764 closed

[2015-11-17 16:26] spdufeu commented on #1720
Unfortunately setting the Build Action to Content does deploy the file.

Where as a setting of AdditionalFiles does not.

[2015-11-17 16:47] sharwell commented on #1720
Sounds like all we can really do is update the documentation to mention that the Build Action needs to be either None or AdditionalFiles (None is the easiest to set of course). We should mention this in Configuration.md, and consider adding a comment to the default stylecop.json file which is created by the code fix that mentions this.

[2015-11-17 20:22] #989 closed

[2015-11-18 08:19] bexxx opened #1786 "New rule proposal: "Naming": All async methods should end with "Async"."
All methods declared in source with an async modifier should end with "Async" in their name.

Most probably this should not fire on methods that just return Task or Task<T>.

[2015-11-18 09:26] vweijsters commented on #1786
:-1: This is rule is already present in https://github.com/DotNetAnalyzers/AsyncUsageAnalyzers and for me that is the correct place.

[2015-11-18 09:37] bexxx commented on #1786
nice! Thanks for this link!
Agree, let's not duplicate work.

[2015-11-18 09:37] #1786 closed

[2015-11-18 12:03] sharwell opened #1787 "Update using directive code fix to support blank lines between groups"
As mentioned by @vweijsters during code review in #1785:

Marking as **needs discussion** since this will require a new configuration property which we haven't named yet.

**Edit:** Rule SA1516 would be updated to report violations according to this setting. The supported values would be **allow** (default), **require**, and **omit**, just like we implemented for a similar situation in #1820.

[2015-11-18 13:09] ursenzler commented on #1720
I just ran into the same problem. Putting the `stylecop.settings` in its own `ItemGroup` solved the problem. Build Action is `None` in my case.

What confoused me was that the settings file was _not_ ignored on one machine. After investigation, I found out that after clicking `Add stylecop setting file` and removing the file `stylcop1.settings` it worked, too - despite the fact that the `stylecop.

[2015-11-18 13:22] sharwell commented on #1720
@ursenzler After running the "Add StyleCop settings file" code fix, the settings will not take effect until  the project is reloaded in Visual Studio. The most common way to do this is restarting Visual Studio, but another way is unloading and reloading the project in Solution Explorer. If all you did was move the item to its own `ItemGroup` (and it already had the type `None`), then I suspect the

[2015-11-18 13:30] sharwell opened #1788 "Remove custom build task in favor of documentation"
I think we should revert #1581 since it still results in various problems like #1684 and #1720. We originally did this and ran into problems where users did not realize manual steps were needed after applying the code fix in order for stylecop.json settings to take effect. This can be resolved by adding a comment at the top of the generated stylecop.json file:

[code]

:memo: This is not technical

[2015-11-18 13:33] #1744 closed

[2015-11-18 13:37] pdelvo commented on #1788
:+1:

[2015-11-18 14:53] ursenzler opened #1789 "Mishit with rule SA1513"
The following code cannot be made violation free:

[code]

Either there is no blank line after closing `}` or there are spaces before `)` on line 8 `})`

[2015-11-18 15:55] vweijsters commented on #1789
This has been fixed with #1752, but there is no release yet with that fix in it unfortunately.

[2015-11-18 15:55] vweijsters commented on #1788
:+1:

[2015-11-18 16:45] #1789 closed

[2015-11-18 19:30] vweijsters commented on #1787
:+1:

[2015-11-18 19:30] vweijsters commented on #1781
Grabbing this

[2015-11-18 20:27] vweijsters commented on #1776
Grabbing this

[2015-11-18 20:31] #1668 closed

[2015-11-19 05:02] #1776 closed

[2015-11-19 09:37] ursenzler commented on #1789
Thanks for the info.

[2015-11-19 09:39] ursenzler commented on #1720
Thanks for the explanation.

[2015-11-19 14:38] sharwell commented on #1789
@ursenzler The beta 16 release is now available and includes this fix!

[2015-11-19 14:39] sharwell commented on #1720
Fixed as part of #1788. See the Breaking Changes section of the [1.0.0-beta016 release notes](https://github.com/DotNetAnalyzers/StyleCopAnalyzers/releases/tag/1.0.0-beta016) for information about upgrading.

[2015-11-19 14:39] #1720 closed

[2015-11-19 23:35] sharwell opened #1795 "SettingsHelper.GetText needs to rethrow properly"
Currently when an `OperationCanceledException` is thrown while reading the text of **stylecop.json**, it is wrapped inside of a `TargetInvocationException` due to the way we use reflection to invoke `GetText`. This can result in an AD0001 being thrown by any of the analyzers which read from this file.

The `TargetInvocationException` needs to be unwrapped, and the inner exception rethrown.

[2015-11-20 22:30] GregReddick commented on #1756
interface, struct, and enum should all be in their own files. :+1:

[2015-11-20 22:55] GregReddick commented on #633
Us old C hacks are used to for(;;), but I think while(true) is easier to understand. I think 3 is the right choice. The code fix can change
[code]
to
[code]

[2015-11-20 23:03] GregReddick commented on #651
It should be noted that they are talking about adding a match operator to C# version 7 as part of the standard C# syntax. https://github.com/dotnet/roslyn/issues/206 and https://github.com/dotnet/roslyn/blob/future/docs/features/patterns.md

[2015-11-20 23:06] GregReddick commented on #739
:+1:

[2015-11-20 23:13] GregReddick commented on #747
My rule is to have either the entire tag (both start and end) fit on one line or have the tags on separate lines. Thus both of these are okay:
[code]
but this would be wrong:
[code]

[2015-11-20 23:18] #1795 closed

[2015-11-20 23:19] GregReddick commented on #752
:+1:

[2015-11-20 23:24] GregReddick commented on #756
:-1: for StyleCop. We shouldn't have a rule that flags a correct implementation, but I don't think it belongs here. Maybe someone should create an analyzer that does much more extensive contents of documentation analysis and this idea moved there.

[2015-11-20 23:25] GregReddick commented on #757
I think I have many places of legitimate code that would trigger this. :-1:

[2015-11-20 23:29] GregReddick commented on #759
:-1: I do this. However, Contracts are an optional extension, not part of C#. They are discussing adding contracts as a new language thing in C# version 7. https://github.com/dotnet/roslyn/issues/119 If and when it becomes a part of the language, then I think we add this.

It would be perfectly fine to create a separate analyzer for Contracts. There are other Contract rules that I use that I just

[2015-11-20 23:30] sharwell commented on #747
@GregReddick I like that for section- and block-level elements (see links above), with the exception of `<para>`. While I used to apply the same rule to `<para>`, I find the un-rendered documentation more readable when I include them inline.

[2015-11-20 23:31] pdelvo commented on #448
I never seen this crash since. We probably can close this and reopen it if it appears again.

[2015-11-20 23:32] #756 closed

[2015-11-20 23:33] #757 closed

[2015-11-20 23:34] #759 closed

[2015-11-20 23:35] #448 closed

[2015-11-20 23:42] GregReddick commented on #760
Newby programmers and people coming from other languages might do this. I'm ambivalent about the rule. We have rules for many things that I would never do, but shouldn't be allowed.

[2015-11-20 23:56] GregReddick opened #1798 "Possible rule proposal: Disallow multiple returns from method"
What do people think about multiple returns inside a method? I've been back and forth on whether I think they should be allowed. I prefer having only one return inside a method in most cases (it's been suggested it makes provably better code), thus this is wrong:
[code]
It could be rewritten to have only one exit point.
[code]
On the other hand, there are times that disallowing multiple returns cr

[2015-11-21 00:00] GregReddick commented on #810
I agree with sharwell. Long attributes may wind up spanning multiple lines
[code]
I particularly see this with rule suppressions where the justification is too long to make it fit on a line.

[2015-11-21 00:10] GregReddick commented on #993
:+1: I'm fine with there being no exceptions. The SA1515 requirement is just fine in the initialization of array in alxyr's example.

[2015-11-21 00:15] GregReddick commented on #1143
I think the NeutralResourcesLanguageAttribute should indicate the language of the writers of the code including the comments inside the code. How common is it that there ever a time where the resources in the code (non-satellite assembly) and the languages of the comments aren't the same language?

[2015-11-21 00:21] GregReddick commented on #1368
:-1: I think the way we have it is right.

[2015-11-21 00:24] sharwell commented on #1798
Early-out always made sense to me. I tend to find "return ASAP" code more readable than "single point of return" code.

[2015-11-21 00:24] GregReddick commented on #1450
Since the way it is implemented is better code, and putting in the compatibility requires work, just document it and move on.

[2015-11-21 00:28] #1368 closed

[2015-11-21 08:22] NikolayIT opened #1799 "Support analyzing ASP.NET MVC view files (.cshtml)"
Currently StyleCopAnalyzers do not support ASP.NET MVC view files (`.cshtml`).

It would be great if you can support these files since there are a lot of C# code which should also be verified for consistency.

If you give me some guidelines/advises I can research and implement it.

[2015-11-21 08:51] NikolayIT opened #1800 "Rule proposal: Code files should (or should not) end with an empty line"
StyleCop is all about consistency. Having empty lines at the end of some files and not having it in others break the consistency. That's why I am suggesting this rule.

**Category:** Layout rules
**Title:** Code files should/shouldn't end with an empty line

Code without an empty line at the end:
[code]

Code with an empty line at the end:
[code]

This rule is very similar to https://github.com/Do

[2015-11-21 09:08] NikolayIT opened #1801 "Should this code report any kind of StyleCop violation?"
Should this code report any kind of StyleCop violation?

            public

    string

        CourseDateString

    =>

        "string"

            ;

[2015-11-21 13:57] vweijsters commented on #1798
I've changed my opinion on this subject quite a few times over the last decade and during that time there always was another example showing why my current point-of-view was not optimal.

I think it makes sense to offer such a rule (as a disabled by default option) for people that prefer the single return paradigm. I think it fits with the style of analyzers that StyleCop offers. Having a good cod

[2015-11-21 14:02] vweijsters commented on #1800
:+1: I agree on the consistency part. We should have the option to choose between either style in the `stylecop.json` settings.

[2015-11-21 14:12] vweijsters commented on #1801
My gut feeling says yes :smile:
Unfortunately there are currently no rules that prohibit this I think. The separate semi-colon should trigger SA1002 though.

I see two potential new rules here that could help:
- Statements should not contain blank lines (category: layout)
- Statements should use consistent indentation (category: spacing)

[2015-11-21 16:53] patricksadowski commented on #1143
The summary of the attribute is: "_Informs the resource manager of an app's default culture._"

I think it's common to write code in english. The language of summaries, comments and resources should be the main language of the developer team to simplify the software development process. This set of texts can be translated by a translation agency.

How has StyleCop solved the problem?

[2015-11-21 19:32] sharwell commented on #1798
I find that this rule makes sense in a language like C, where you don't have the concept of try/finally. In languages like C#, and even C++ (where has RAII is an option), adhering to a single return point seems to mix concerns - special handling for some inputs and general handling for the others. In addition, if you have a method which is too long to easily keep track of multiple return points, y

[2015-11-21 19:34] sharwell commented on #1800
I would prefer to see this implemented as a configuration option for SA1518.

[2015-11-21 19:39] sharwell commented on #1801
We use these for array initializers which span multiple lines and also contain comments.

Indentation is proving to be tricky business, to say the least. I'm starting to form some ideas on the subject, but that's about where it is now...

[2015-11-21 21:37] nbarbettini commented on #1800
:+1: as a configuration option for SA1518.

[2015-11-22 02:28] sharwell commented on #1775
Looks like tests are already included. Marking as a duplicate of #1748.

[2015-11-22 02:28] #1775 closed

[2015-11-22 03:15] sharwell opened #1803 "Cache StyleCopSettings for the Compilation"
With the recent work to add options to additional analyzers, it's becoming more important to cache the `StyleCopSettings` instance so we aren't deserializing it multiple times per compilation.

[2015-11-22 12:44] dmitriyse opened #1804 "SA 1649 - Add support for generic types to file name mapping."
For example :
MyType<T>  --> MyType{T}.cs
MyType<T1, T2>  --> MyType{T1, T2}.cs

[2015-11-22 13:27] #1804 closed

[2015-11-22 13:28] dmitriyse commented on #1804
This convention is already supported, i just added excessive space in file name.

[2015-11-22 16:35] dmitriyse opened #1807 "SA 1002 - False warning."
for (;;) is not processed as valid but should (at least classic stylecop passes this code).
Also R#10 auto format always converts for(; ;) to for (;;).

[2015-11-22 16:53] GregReddick commented on #1798
Sam...when you close a rule that might be moved for to a new project, is it possible for you to stick a label on it for that, so someone searching for those proposals can find them among the closed issues? I'd like to leave this open for a little while more just to see what people think about the subject where we we have a group that thinks about this stuff.

[2015-11-22 17:05] sharwell commented on #1798
You had me worried when I saw the email notification since I didn't remember closing this issue (turns out I didn't). :smile:

I think a label like that could make sense. One difficulty is it's hard to tell if/when/who would actually implement the proposed rule. Once we get the analyzer infrastructure improved for new analyzer projects, I imagine the conversion rate will improve substantially. We

[2015-11-22 17:10] sharwell commented on #1807
This is a duplicate of #1489.

[2015-11-22 17:10] #1807 closed

[2015-11-22 18:18] GregReddick commented on #1800
:+1: I have this as a rule in my style guide (now published on Amazon). I think in previous versions of Visual Studio (I don't have one handy to check right now, but I seem to recall) that the extra newline showed as an extra line in the Code Metric Results. I just check VS2015, though and it doesn't count one way or the other.

[2015-11-22 18:44] GregReddick opened #1808 "Rule proposal: Line Length"
I propose a rule limiting line length in files. There should be a setting with a default.This is what I wrote in my style guide (now published on Amazon):

The code fix is a little tricky, though, if we want the code to match all the other style rules after it completes. I'd be okay with just finding the previous white space or punctuation character to the limit and wrapping to the next line and i

[2015-11-22 18:52] sharwell commented on #1808
This rule is equivalent to SP2100 which was referenced in #782.

My vote is :-1: on including this rule in StyleCop Analyzers. I find that strict line lengths frequently result in code review diffs being larger than otherwise required, which makes them more difficult to review. If the average code review tool was based more on semantic changes than changes to text within a line, then my vote might

[2015-11-22 21:16] #1803 closed

[2015-11-22 21:35] #359 closed

[2015-11-22 21:35] #1773 closed

[2015-11-22 21:53] #143 closed

[2015-11-22 21:53] #144 closed

[2015-11-22 21:56] sharwell opened #1810 "Update SA1623 and SA1624 tests to include various accessibilities"
Currently the tests for SA1623 and SA1624 only test the public and private accessibility modifiers. The tests should be updated to include others as well.

[2015-11-22 21:58] sharwell opened #1811 "Consider using AccessLevelHelper.GetEffectiveAccessibility for SA1623/SA1624"
Currently the implementation of SA1623/SA1624 relies on a locally-implemented method `IsPubliclyVisible`. The helper method `AccessLevelHelper.GetEffectiveAccessibility` implements a more precise and accurate version of this functionality. If possible, the implementation of SA1623/SA1624 should be update to use it.

Marked as a :bug: because the implementation of `IsPubliclyVisible` currently look

[2015-11-22 22:01] sharwell commented on #1684
This was fixed in #1790.

[2015-11-22 22:01] #1684 closed

[2015-11-22 22:40] sharwell commented on #1745
I'm currently looking at using the following property to cover this:

[code]

[2015-11-23 08:46] vweijsters commented on #1811
It should be looking for internal when the accessibility of the type (and all of its parents) is public, it should be looking for private when the accessibility of the type (or one of its parents) is internal.

[2015-11-23 09:12] vweijsters commented on #1811
Grabbing this

[2015-11-23 09:13] vweijsters commented on #1810
Grabbing this

[2015-11-23 10:31] 0x084E commented on #1800
:+1: for SA1518 option

[2015-11-23 12:09] RehanSaeed opened #1814 "Does not support 'Class Library (Package)' Projects (*.xproj File Extension)"
Adding the StyleCop.Analyzers NuGet package to the new 'Class Library (Package)' project type with the .xproj file extension has no effect. No analyzers are visible.

[2015-11-23 12:12] RehanSaeed opened #1815 "Can we start using this for production code?"
How stable/usable is this project now? Can we start using it for our production code? The [list](http://stylecop.pdelvo.com/) of implemented rules seems almost complete now.

[2015-11-23 13:06] sharwell commented on #1815
The project is quite stable IMO. We've been using it in production since Beta 6.

Note that there is a bug (#1795) in the latest release, so you may see AD0001 messages appearing in Visual Studio (it doesn't affect command line builds). With that fixed along with initial documentation of [known differences](https://github.com/DotNetAnalyzers/StyleCopAnalyzers/tree/master/documentation/KnownChanges

[2015-11-23 13:06] #1815 closed

[2015-11-23 13:07] sharwell commented on #1814
This *seems* like a bug in the project system, but I've never used this type of project so I'm not sure.

[2015-11-23 13:13] RehanSaeed commented on #1814
The project does not contain a list of the files within it. As long as files are in the same folder as the xproj file, they are included in the project. Most likely, this is why StyleCop.Analyzers is having trouble.

[2015-11-23 13:13] RehanSaeed commented on #1815
Thanks @sharwell, exactly the answer I was looking for.

[2015-11-23 13:55] sharwell commented on #1814
Is this a duplicate of #806?

[2015-11-23 14:01] RehanSaeed commented on #1814
Yes

[2015-11-23 14:01] #1814 closed

[2015-11-23 14:02] sharwell commented on #1814
:+1: Thanks! :smile:

[2015-11-23 14:11] 0x084E opened #1816 "SA1623 is triggered for private setters in private nested classes"
I don't know if this caused by #1813 but I just mentioned that the following raises SA1623:

[code]

[2015-11-23 14:44] vweijsters commented on #1816
#1813 has not been merged yet, so unless you are testing the pull request, the bug is in the master at the moment.

[2015-11-23 14:54] 0x084E commented on #1816
... sure, could have seen that. Than it might be vice versa and it will be fixed with #1813.

[2015-11-23 15:46] #1810 closed

[2015-11-23 15:46] #1811 closed

[2015-11-23 15:48] sharwell commented on #1816
Duplicate of #1811

[2015-11-23 15:48] #1816 closed

[2015-11-23 18:05] #1747 closed

[2015-11-23 20:32] #805 closed

[2015-11-23 21:19] dmitriyse opened #1818 "SA1210 and SA1208 does not play nice when global:: prefix is used"
![image](https://cloud.githubusercontent.com/assets/10322215/11350105/55b37262-9249-11e5-8a68-60c46b749d0e.png)

[2015-11-23 21:43] sharwell commented on #1818
This is a duplicate of #1092.

[2015-11-23 22:13] dmitriyse commented on #1818
Please think not only about pure VS users, but also about R# users + StyleCop Plugin.
Possibly some options should introduced to satisfy all useres.

[2015-11-23 23:16] sharwell commented on #1818
An option might make sense. For the default behavior, it makes sense to adhere to Visual Studio defaults as they are the majority of users.

Fortunately this particular situation is quite rare.

[2015-11-23 23:50] sharwell commented on #1818
@dmitriyse Is there a reason you are using the StyleCop Plugin for ReSharper, as opposed to the code fixes which are provided by this project?

I invited you to our Gitter chat room if you'd like to discuss it with us there.

[2015-11-24 09:44] jimmymain commented on #764
I have added a github project that documents properties and methods.
It seems to be working pretty well, for anyone that does want their documentation generated for those POCO classes.

https://github.com/jimmymain/Documentation.Analyzers

Regards
Craig.

[2015-11-25 06:54] #1597 closed

[2015-11-25 07:04] pdelvo opened #1821 "SA1509 documentation shoud reflect the current behaviour"
The changes in #702 don't reflect the current documentation.

[2015-11-25 07:19] pdelvo commented on #1821
Disregard this. I thought #702 was already merged

[2015-11-25 07:19] #1821 closed

[2015-11-25 09:19] whut commented on #1711
:+1:

[2015-11-25 13:31] #1800 closed

[2015-11-25 15:32] nbarbettini commented on #1602
Would be very helpful. :+1:

[2015-11-25 15:38] GregReddick commented on #1798
There certainly is the argument that every throw inside a method (including from calls to .NET methods that can throw is another exit point...so what's a few more!

[2015-11-25 19:43] vweijsters commented on #809
Grabbing this

[2015-11-25 19:47] vweijsters opened #1823 "MemberOrderHelper.GetAccessLevelForOrdering does not consider explicit event implementations"
Found during review of #1812.

Although explicitly implemented events are rare (since you can't use the event field declaration syntax), I think they should be treated the same as all other explicitly implemented members.

[2015-11-25 19:53] vweijsters opened #1824 "Refactor SA1201ElementsMustAppearInTheCorrectOrder.HandleMemberList"
The implementation of this method can be improved on performance and consistency.

The implementations of SA1202 / SA1203 / SA1204 are good examples for the general style that should be followed.

[2015-11-25 20:16] #1745 closed

[2015-11-25 20:17] sharwell commented on #1823
I agree with treating them the same. Let's start my checking what accessibility StyleCop Classic treats them as, so we know whether or not this would be a deviation.

[2015-11-26 02:20] #689 closed

[2015-11-26 03:19] sharwell opened #1827 "SA1133 should be enabled by default"
This rule was implemented in #1817, but we forgot to enable it by default.

[2015-11-26 08:55] soerennielsen opened #1829 "SA1649 - File name must match first type name - false positive error"
This rule mistakenly fires for files with double postfix names, i.e.

File "AppEventReceiver.svc.cs"

That contains class:
	public class AppEventReceiver : AppEventReceiverBase

Will fire the rule. It shouldn't and it doesn't in the original stylecop tool. .

Fix should be fairly easy by using the filename "before the first dot" instead of "filename without extension" for matching the class name.

[2015-11-26 09:56] pdelvo opened #1830 "SA1027 does not detect tabs in xml documentation"
Repro:
[code]

This should report SA1027. It does not at the moment.

[2015-11-26 10:24] leica-andreash opened #1831 "SA1003 fix not working for conditional directive"
[code]

When applying the fix at line 5 it adds a space right before 'return'.

[2015-11-26 11:37] Trass3r opened #1832 "SA1009 false positive on -> operator"
[code]

It wants the `->` operator to be preceded by a space.

[2015-11-26 13:38] ischas opened #1833 "SA1401 Fix raises SA1101"
If I have this code:

[code]

StyleCop.Analyzers recommends:

[code]

Now StyleCop raises a SA1201. The fixed code should look like this:

[code]

Notice the added `this.`.

[2015-11-26 13:48] sharwell commented on #1829
Thanks for the report. I think that makes sense, and it should definitely be an easy fix :+1:

[2015-11-26 13:50] sharwell commented on #1831
Nice catch. :smile:

[2015-11-26 13:51] sharwell commented on #1832
Nice catch :+1:

This one *should* be an easy fix. We already have a few exceptions for other operators in the same analyzer.

[2015-11-26 13:57] sharwell commented on #1833
The code fix for SA1401 is provided by Visual Studio. The first thing to check is that you have the following option checked:

![image](https://cloud.githubusercontent.com/assets/1408396/11424491/4436d008-9413-11e5-9229-d99e66b26ba7.png)

If you have this checked and the problem still occurs, then this is actually a bug in Roslyn or Visual Studio, and I would recommend filing a bug in the [dotnet/

[2015-11-26 13:57] #1833 closed

[2015-11-26 14:23] sharwell opened #1834 "SA1009 not reported inside conditional directives"
I expected SA1009 to be reported in the following, but no spacing diagnostics were reported.

[code]

:memo: Discovered while working on #1831.

[2015-11-26 14:35] sharwell commented on #1830
How far do we want to go with this?

[code]

[2015-11-26 14:53] #1831 closed

[2015-11-26 15:17] sharwell commented on #1829
Well this didn't qualify as easy after all - it required modifications to the test framework to allow testing these cases. But I got it working!

[2015-11-26 15:54] #1827 closed

[2015-11-26 15:55] sharwell commented on #1834
Found an additional case for the following:

[code]

[2015-11-26 15:59] soerennielsen commented on #1829
Fantastic, thanks! :-)

Looking forward to RC1.

[2015-11-26 16:34] #1829 closed

[2015-11-26 16:34] #1832 closed

[2015-11-26 16:35] #1834 closed

[2015-11-26 18:16] sharwell commented on #1774
:memo: There are at least 19 different keywords which caused the same problem.

[2015-11-26 18:57] roadz99 opened #1844 "SA1623 - Property summary documentation in private class"
After updating to Beta 17 I am getting SA1623 reported for the following scenario (note the class is private):

    private class TestClass
    {
        /// <summary>
        /// Gets the name
        /// </summary>
        public string Name { get; private set; }
    }

It thinks that the summary should start with "Gets or sets". The analyzer gets confused because the effective accessibility of

[2015-11-26 18:59] sharwell commented on #1780
I remember why we did this now.

* SA1307 affects accessible fields, which means the public API surface area.
* SA1311 is a style choice which partially overlaps with SA1307.

It is reasonable to think some teams would disable SA1307 while others would disable SA1311. If SA1311 was a strict subset of SA1307, then it would make sense to not report SA1307 here, but that is not the case.

[2015-11-26 18:59] #1780 closed

[2015-11-26 19:01] sharwell commented on #1844
@vweijsters What did StyleCop Classic report in this case?

[2015-11-26 19:03] sharwell commented on #1844
According to the documentation, "restricted accessibility" is defined as one accessor method being accessible to a larger number of members than the other. In the example above, this is certainly the case. I believe the solution for this is to use the *declared* accessibility instead of the *effective* accessibility.

[2015-11-26 19:08] roadz99 commented on #1844
Yes it is that simple. My unit tests pass after that change. Since you've started I'll leave you to work on it.

[2015-11-26 19:09] sharwell commented on #1844
I used your unit test, but I massively simplified the accessibility checks (down to two lines). I'll post a code review soon.

[2015-11-26 20:05] vweijsters commented on #1844
The proposed solution is not correct. There is a bug in the implementation regarding the private setter mentioned in the example, but the implementation is correct for other cases. Below the relevant quote from the documentation:

[2015-11-26 20:06] sharwell commented on #1844
@vweijsters That's the conclusion I came to as well.

[2015-11-26 20:17] vweijsters commented on #1844
Point 1 does not cover everything, for example an public property with a protected setter should have the Gets or sets text.

I would say `public`, `protected` and `protected internal` must be document, as these are part of the public API of a component.  Internal and private should not be documented. It could be a future extension to control flagging of internals with a property in the settings f

[2015-11-26 20:19] sharwell commented on #1844
@vweijsters The rules I suggested as preferable are certainly not equivalent to the documented rules. I was just saying they would be easier to explain, and much easier to implement.

[2015-11-26 20:24] vweijsters commented on #1844
@sharwell I figured that much and I think that would be a good thing. The point I was trying to make is that your suggested rules do not cover all cases that I think should be documented, the given example being the most prominent issue.

I do think that it is desirable to simplify the rules, hence the alternative suggestion in my post.

[2015-11-26 20:38] #1777 closed

[2015-11-26 20:39] #1774 closed

[2015-11-26 20:44] sharwell commented on #1844
I think I finally figured this out... PR coming if tests actually pass.

[2015-11-26 21:00] #1844 closed

[2015-11-27 03:56] sharwell commented on #1778
I looked at the documentation, and believe this was just a bug fix relative to StyleCop Classic.

* SA1400 makes no sense here
* StyleCop didn't report SA1202 because it didn't have the power of Roslyn to tell it was the accessibility of `Part1` is

[2015-11-27 08:30] NikolayIT commented on #149
I can implement this if you decide to make it disabled by default but

[2015-11-27 09:23] peteri commented on #149
I was going to do this but I've been so busy at work that I've not had time (and I'm unlikely to have much free time until early next year).

I suspect that the code I wrote for SA1627 (pull #1571) could be modified to support both this and SA1628 so the scan of the xml elements only happens once.

[2015-11-27 17:52] #1778 closed

[2015-11-27 17:52] #1830 closed

[2015-11-27 18:03] NikolayIT opened #1847 "SA1518 message misleading when newlineAtEndOfFile is set to require"
##### stylecop.json:

[code]

##### Code file:
[code]

##### Analyzer warning:
    Warning	SA1518	Code must not contain blank lines at end of file

**In fact my code SHOULD contain blank line.**

P.S. thanks for implementing this setting :)

[2015-11-27 18:07] sharwell commented on #1847
I agree completely. I was able to make the code fix make sense:

However, the diagnostic itself could still be improved. I was hoping to have a single message which applied regardless of the configuration or type of mistake (too few newlines, too many newlines). Do you have any suggestions?

:memo: Until we resolve this, I left the message in a form that makes sense for users with the *default* co

[2015-11-27 18:17] NikolayIT commented on #1847
Can't we make different descriptors here: https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/95acc4eb10685286c8ce0785b500cde5dcd16b39/StyleCop.Analyzers/StyleCop.Analyzers/LayoutRules/SA1518CodeMustNotContainBlankLinesAtEndOfFile.cs and return them according to `settings.LayoutRules.NewlineAtEndOfFile`?

I can make a pull request for this if you wish.

The messages I am proposing are the on

[2015-11-27 18:22] sharwell commented on #1847
Those do look like good messages :blush:

Go for it :)

[2015-11-27 19:50] pdelvo commented on #1589
This is really annoying. I think we should fix that before rc1.

[2015-11-27 19:54] sharwell commented on #1589
@pdelvo RC 1 is Monday and I'm not planning to work on this myself, but if someone else fixes it and it's code reviewed in time then we could include it.

[2015-11-27 20:21] #436 closed

[2015-11-27 20:57] #437 closed

[2015-11-27 22:15] NikolayIT opened #1854 "Implement SA1136: Enum values should be on separate lines"
**Category:** Readability
**Title:** Enum values should be on separate lines

Code that will trigger it:

[code]

Corrected code:
[code]

[2015-11-27 22:51] nbarbettini commented on #1854
:+1: on this.

[2015-11-27 23:10] nbarbettini commented on #1121
Grabbing this :+1:

[2015-11-27 23:28] sharwell opened #1856 "SA1312 needs to use a symbol visitor"
There are many different ways to declare a local variable. SA1312 needs to use a symbol visitor for `ILocalSymbol` (as opposed to the current syntax visitor) to consistently identify these for analysis.

[2015-11-28 05:46] #1847 closed

[2015-11-28 05:49] #145 closed

[2015-11-28 05:51] sharwell opened #1859 "Proposal: Enum members should start with an upper case letter"
I propose extending the analysis of SA1300 to include enum members.

[2015-11-28 05:54] sharwell commented on #1854
:+1:

[2015-11-28 05:55] nbarbettini commented on #1859
:+1:

[2015-11-28 05:57] sharwell commented on #1854
:memo: I would prefer a single rule that applied to elements (members of a type or namespace) in general.

[2015-11-28 06:00] nbarbettini commented on #1798
I'm a big fan of the "fail fast and early" school of thought, so I'm :thumbsdown: on this rule. I have a lot of this in my code:

[code]

[2015-11-28 06:33] AArnott commented on #1859
:+1:

[2015-11-28 09:11] NikolayIT commented on #1859
:+1: This is must-have :)

[2015-11-28 10:04] vweijsters opened #1861 "SA1306 should also check fields starting with a single underscore"
The following code should trigger SA1306 in my opinion (with SA1309 disabled and SX1309 enabled).

[code]

I would propose that we make the underscore for fields a property and that we adapt the different analyzers and code fixes to take this setting into account properly. I think with the correct set of properties we can wrap up SA1309, SX1309 and SX1309S into a single analyzer.

[2015-11-28 10:07] vweijsters commented on #1859
:+1:

[2015-11-28 10:07] vweijsters commented on #1854
:+1:

[2015-11-28 10:23] Maxwe11 commented on #1854
:+1:

[2015-11-28 15:21] sharwell commented on #1861
I'd like to wait and see how dotnet/roslyn#4616 and dotnet/roslyn#7064 are handled before I go too far on this. What do you think?

[2015-11-28 15:22] sharwell commented on #1798
It's looking like this is a "won't fix" within StyleCop Analyzers, but it could always be implemented as a separate analyzer. :smile:

[2015-11-28 15:22] #1798 closed

[2015-11-28 15:23] #1315 closed

[2015-11-28 15:31] sharwell commented on #1121
@nbarbettini Sounds good. I'm not planning to include any other rules for RC 1 other than the three that are already assigned to that milestone, but we can include it afterwards.

[2015-11-28 18:55] nbarbettini commented on #1121
@sharwell Cool. I'll PR to master when I'm done.

Still want to do this as well, as a separate rule?

[2015-11-28 20:47] vweijsters commented on #1861
I'd prefer to solve this on a relatively short time frame, as I normally have SX1309 enabled and would prefer to also have SA1306.

[2015-11-28 22:08] NikolayIT opened #1863 "SA1601 violations not reported in error list"
I am not sure this is a bug with StyleCopAnalyzers or bug in Visual Studio but SA1601 warnings are not  displayed in the error list:

![sa1601_bug](https://cloud.githubusercontent.com/assets/3106986/11454202/48f35816-962d-11e5-8ac4-c46307c0b994.png)

What more details should I provide in order to further investigate or reproduce the issue?

[2015-11-29 02:34] #809 closed

[2015-11-29 02:39] sharwell commented on #1863
You [disabled rule SA1652](https://github.com/NikolayIT/GameAITesterOnline/blob/master/Source/Rules.ruleset#L80) which has the following description:

I've observed that this is a recurring problem, which means people are missing this description before disabling the rule. Any ideas on how to correct it?

[2015-11-29 02:41] sharwell commented on #1861
I'd be OK with simply ignoring underscores for SA1306, regardless of the state of SA1309 and/or SX1309.

[2015-11-29 03:33] #1859 closed

[2015-11-29 04:04] sharwell commented on #1121
Not sure yet. I'll have to think about it some more after RC 1.

[2015-11-29 04:08] sharwell commented on #1746
I looked at this but didn't find a solution that looked like an obvious winner. For now moving to the **Backlog** milestone to deal with after the 1.0 release.

[2015-11-29 04:09] sharwell commented on #149
It doesn't look like this rule will have a champion for the RC 1 release. Since it's a relatively minor rule, I'm moving it to the **Backlog** milestone to deal with after the 1.0 release.

[2015-11-29 04:10] sharwell commented on #164
It doesn't look like this rule will have a champion for the RC 1 release. Since it's a relatively minor rule and even has some disagreement (from me :wink: ), I'm moving it to the **Backlog** milestone to deal with after the 1.0 release.

[2015-11-29 04:12] sharwell commented on #1168
Blocked on dotnet/roslyn#4767

[2015-11-29 04:13] sharwell commented on #1239
Blocked on dotnet/roslyn#4767.

[2015-11-29 04:14] sharwell commented on #1647
Blocked on dotnet/roslyn#4767.

[2015-11-29 04:15] sharwell commented on #1665
Blocked on dotnet/roslyn#6261.

[2015-11-29 04:16] sharwell commented on #1693
Blocked on dotnet/roslyn#6261.

[2015-11-29 04:43] #953 closed

[2015-11-29 19:47] #1770 closed

[2015-11-29 19:48] #1856 closed

[2015-11-30 17:21] vermiceli opened #1867 "Auto-Generated Files Still Require Documentation"
I've enabled documentation checking SA1600 by enabling XML documentation in the project properties.  This works well. However, stylecop is forcing files with `// <auto-generated` to have documentation, even though all other stylecop warnings are disabled.

I think there is a bug where the documentation rule doesn't know that the file is auto-generated.

I've attached an example.  You can see that

[2015-11-30 17:25] sharwell commented on #1867
You are seeing CS1591, which is a warning produced by the C# compiler. See the [How to fix violations](https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA1652.md#how-to-fix-violations) section of the SA1652 documentation for more information on how to handle this warning.

[2015-11-30 17:25] #1867 closed

[2015-11-30 18:51] vermiceli commented on #1867
@sharwell Thank you very much.  I didn't realize that the error was a code analysis issue and not a stylecop issue.

In case someone gets this error and finds #1697, I'm mentioning the issue here so that people may realize that the error isn't from stylecop.

[2015-12-01 00:29] sharwell opened #1868 "Disable ElementOrderCodeFixProvider for the 1.0 release"
Due to a number of outstanding bugs related to this code fix, we are not able to call it "stable". It should be disabled for the 1.0 release.

[2015-12-01 00:30] sharwell opened #1869 "Enable ElementOrderCodeFixProvider"
This code fix provider was disabled for the 1.0 release. It should be enabled for the following release.

[2015-12-01 03:11] #1868 closed

[2015-12-01 03:13] #1861 closed

[2015-12-01 08:32] jimmymain opened #1875 "crash, might be compatibility related (resharper)"
![image](https://cloud.githubusercontent.com/assets/2555050/11495748/57f91d42-9816-11e5-86ce-ac42e897032e.png)

I am getting this error regularly, and never used to.
I have tried debugging it, but when it runs in the sandbox (regular F5 debug) resharper is not enabled along with any other plugins, and I cannot reproduce the issue.

How do I get the stack trace out in the regular environment, then

[2015-12-01 09:42] appel1 opened #1876 "SA1625 does not take xml into account"
I don't think the following should trigger a violation.

[code]

[2015-12-01 12:07] fubar-coder commented on #1143
Stylecop solved the problem with a configuration setting in its configuration file.

[2015-12-01 13:20] sharwell commented on #1875
I'm not sure it's currently possible.

One thing you can try is opening two copies of Visual Studio, and attaching the debugger from one to the other. This will allow you to debug your normal instance of Visual Studio as opposed to the sandbox you get when you <kbd>F5</kbd> on the project.

[2015-12-01 13:46] fubar-coder opened #1877 "SA1028: Memory leak?"
We have a situation where VS 2015 Update 1 crashes under the following condition:

- A C# project with >250 classes / files
- 20-30 of them contain trailing whitespace characters
- Apply the code fix on the project

Visual Studio tries to use more than 2.7G memory and therefore crashes with (probably) an OutOfMemory exception.

I didn't notice this problem with other analzers/fixes, but it might s

[2015-12-01 13:53] jimmymain commented on #1875
I reset all my settings, and it seems to be ok now.
weird, I don't know if you want to close it, and I can let you know if it happens again. It seemed to affect quite a lot of the stylecop quick fixes. I think more an issue with corrupt configuration in visual studio itself rather than a bug in the analyzers.

[2015-12-01 14:33] sharwell commented on #1877
Can you confirm that you were actually fixing SA1208? In some cases, multiple diagnostics may be reported on the same line, and it's pretty easy in some cases to fix one that's not obvious. I ask because 1) SA1208 relates to using directives while you mentioned whitespace at the end of lines, and 2) SA1208 should not suffer from the problem described below. Normally trailing whitespace characters

[2015-12-01 14:34] sharwell commented on #1875
We'll close it for now, but if you reproduce it we'll open it right back up. :+1:

[2015-12-01 14:35] sharwell commented on #1876
I agree.

I wouldn't mind including this in 1.0 *if* we have to release another RC build, but I don't want to delay 1.0 stable for just this issue.

/cc @pdelvo

[2015-12-01 14:38] sharwell commented on #1863
@NikolayIT Do you have any suggestions for how to handle this? I don't mind just linking people to the documentation, but if we had a way to prevent people from facing it in the first place it'd also be good to take it. :smile:

[2015-12-01 14:45] fubar-coder commented on #1877
It was indeed SA1028.

[2015-12-01 15:01] NikolayIT commented on #1863
@sharwell, I didn't get the "linking people to the documentation" thing :grinning:
Anyway I think a message in Visual Studio error list will be informative for people who are expecting their code to produce documentation warnings with SA1652 disabled.

[2015-12-01 15:08] sharwell commented on #1877
@fubar-coder What version are you using? This *should* have been fixed in 1.0.0 Beta 10.

[2015-12-01 15:09] fubar-coder commented on #1877
1.0.0-rc1

[2015-12-01 15:13] NikolayIT commented on #1875
I've just got the same error with VS 2015 Update 1, ReSharper 10 and StyleCopAnalyzers 1.0.0-rc1

![error](https://cloud.githubusercontent.com/assets/3106986/11504594/d7d74dd0-984e-11e5-8fa6-43b0c28658b2.png)

[2015-12-01 15:16] sharwell commented on #1875
@NikolayIT

1. Does this occur every time you try to run SA1133 fixer?
1. If the answer to 1 is yes (meaning you can reproduce it), does it still occur if you disable ReSharper (but no other changes)?

[2015-12-01 15:25] NikolayIT commented on #1875
Yes, it does. I can reproduce it every single time. Even with ReSharper disabled.

To be more specific it happens when I click on the light bulb icon.

I've recorded a video: https://www.dropbox.com/s/0w7109ze2oom8yz/VS2015Update1StyleCopAnalyzersBug.mp4?dl=0

[2015-12-01 16:01] sharwell commented on #1877
Looks like a bug in Visual Studio 2015 Update 1. StyleCopTester successfully corrected 7272 violations of this rule in 4686ms (Roslyn 1.0) and 4407ms (Roslyn 1.1).

I then replaced every `}` at the end of a line in our project with `}` followed by two spaces (8869 violations). Attempting to fix all violations readily crashed Visual Studio 2015 Update 1. The same operation took 30 seconds to comple

[2015-12-01 16:03] fubar-coder commented on #1877
Dang. I'll send a frown to the VS team. Sorry for bothering you.

[2015-12-01 16:03] #1877 closed

[2015-12-01 16:11] sharwell commented on #1877
@fubar-coder Don't feel bad for trying to help. Your description was good and I filed a Roslyn bug out of this. :+1:

[2015-12-01 16:12] sharwell commented on #1875
@vweijsters Any ideas off the top of your head, before we dig into this?

[2015-12-01 16:14] jimmymain commented on #1875
Hi Guys,

I had the same setup, but it did seem ok once I reset all my settings.
I tried to debug it but could not reproduce in the debugger at all.

I tried to attach the debugger, no luck there either.

I really don't think it's an issue with the analyser.
My feeling is that its one of those combination bugs. It's going to be
difficult to track down. Happy to help if anyone has suggestions.

On

[2015-12-01 16:42] martincostello commented on #149
@sharwell Is there a plan for any further Release Candidates after rc1 before 1.0.0 in February (I'm going by the milestone dates in the Issues tab here)? I wouldn't mind whetting my beak trying to implement this for 1.0.0 if there's enough time left before 1.0.0 and at least one more RC to try it out in.

[2015-12-01 16:56] vbfox opened #1878 "SA1133CodeFixProvider crash"
Given the following code :

[code]

SA1133 is raised on `Bar` usage but activating the CodeFix throw an exception :

[code]

(*VS2015 update 1, StyleCop 1.0 RC1*)

[2015-12-01 17:03] vbfox opened #1879 "SA1133 batch code fix does half the work"
Given the following code (Using the `JetBrains.Annotations` NuGet package):

[code]

Applying SA1133 code fix on document scope give :

[code]

(*VS2015 update 1, StyleCop 1.0 RC1*)

[2015-12-01 17:05] vbfox commented on #1875
I just entered a bug (#1878) that is in SA1133 too @NikolayIT so maybe it's the same. Cc @sharwell

[2015-12-01 17:08] vbfox commented on #1879
BTW Running the code fix a second time finishes the work cleanly.

[2015-12-01 17:12] sharwell commented on #1878
Thanks for the report!

I am very much hoping this reproduces the problem in our unit tests. :smile:

[2015-12-01 17:13] sharwell commented on #149
We might have an RC 2, but we're feature frozen for the 1.0 release. This diagnostic will be in the first post-1.0 beta release at the earliest (which might actually occur before 1.0 stable ships).

[2015-12-01 17:15] sharwell commented on #1879
Assigning to 1.0 for investigation, but I expect this will end up as a post-1.0 improvement.

/cc @vweijsters

[2015-12-01 17:20] NikolayIT commented on #1878
This code is enough to reproduce the problem.

I've created a new branch in my fork in order to try fixing the issue. Here is the repro test: https://github.com/NikolayIT/StyleCopAnalyzers/commit/f25bde0e7eb2efa9e6a936e72dcbaf112606a968

[2015-12-01 17:22] martincostello commented on #149
@sharwell Fair enough - it being a vNext feature seems reasonable. I'll take a go at picking it up though :)

[2015-12-01 17:33] NikolayIT commented on #1878
Well, that was very easy to fix. I am sending pull request in a minute.

[2015-12-01 17:35] sharwell commented on #1878
@NikolayIT Make sure to send your pull request to the **stabilization** branch instead of the default **master** branch.

[2015-12-01 17:42] NikolayIT commented on #1879
I am just guessing here but I have a good feeling that fixing #1878 will also fix this issue.

[2015-12-01 17:46] NikolayIT commented on #1878
@sharwell did it :smile:

[2015-12-01 19:46] NikolayIT opened #1881 "Should SA1118 be reported for for verbatim strings?"
Should SA1118 be reported here? (currently it is reported by StyleCopAnalyzers)

[code]

[2015-12-01 20:02] sharwell commented on #1881
I've never really thought about it. What does StyleCop Classic do?

[2015-12-01 20:21] NikolayIT commented on #1881
The classic StyleCop does not report it

[2015-12-01 20:48] martincostello commented on #1876
Another test case for this issue, except with ```<param>``` instead of ```<typeparam>```:

[code]

[2015-12-01 21:23] vweijsters commented on #1881
I don't think that it should be reported, as there is no easy fix. Verbatim string literals can only be replaced by regular string literals (due to limitations on attributes) and that would seriously require the user to reformat the string, thereby (potentially) forcing him/her to reduce readability due to the additional `\r\n` characters needed.

[2015-12-01 23:40] #1881 closed

[2015-12-01 23:41] sharwell commented on #1881
Marking as wontfix based on the following:

1. It matches StyleCop Classic
2. I don't see an obvious benefit to deviating

I'll reopen if more people start to move in the other direction.

[2015-12-02 02:16] yaakov-h opened #1882 "SA1133 on P/Invoke method parameters"
Sample code:
[code]

Of particular concern is this `[In, Optional] IntPtr security_attributes,`.

1. Is this a valid violation of SA1133? How is `[In] [Optional]` any better than `[In, Optional]`? I agree for attributes on classes, methods and properties that they should be separate and on separate lines, but not neccesarily for parameters.

2. Attempting to use the code fix throws this exception,

[2015-12-02 02:53] yaakov-h opened #1883 "SA1133 Code Fix incorrectly preserves whitespace"
VS2015 Update 1 (RTM), StyleCop.Analyzers 1.0.0-RC.

Sample code:
[code]

Warning:

```Class1.cs(11,5,11,20): warning SA1133: Each attribute should be placed in its own set of square brackets.```

"Fixed" code:

[code]

I think the code fix is preserving the whitespace between the start of the line and `SuppressMessage`.

[2015-12-02 03:07] yaakov-h opened #1884 "SA1312 code fix appends numbers when renaming identical variables"
VS2015 Update 1 (RTM), StyleCop.Analyzers 1.0.0-RC

Sample code:

[code]

After running the SA1312 code fix once:

[code]

After running the SA1312 code fix twice:
[code]

After running the SA1312 code fix thrice:
[code]

Expected final code:

[code]

I'd assume that the Code Fix provider thinks that on the second and third runs that it can't use the name `keyChars` as it is already taken, however

[2015-12-02 04:22] sharwell commented on #1882
I would be fine with excluding attributes on parameters.

/cc @vweijsters

[2015-12-02 04:25] sharwell commented on #1884
At least for now, this is the expected behavior (see #1858). It turns out that this particular kind of analysis is particularly challenging in the current APIs. I'll leave this issue open as an enhancement request for a future release.

[2015-12-02 07:49] vweijsters commented on #1882
I'm fine with excluding attributes checks for parameters, since SA1134 will not be enforced for parameters as well.
This would in my opinion include generic parameters.

[2015-12-02 08:55] vbfox commented on #1882
I saw the same thing and was annoyed too. Even if parameter attributes aren't excluded by default, it should be a configurable setting.

And @yaakov-h if you enjoy P/Invoke you should come play with us on https://github.com/AArnott/pinvoke we're trying to build nuget packages with all the Win32 P/Invoke

[2015-12-02 08:57] yaakov-h commented on #1882
@vbfox I don't think "enjoy" is the right verb to use for any discussion of P/Invoke :smile:

[2015-12-02 11:09] NikolayIT commented on #1881
Just wanted to mention that as I wrote in https://github.com/DotNetAnalyzers/StyleCopAnalyzers/issues/1881#issuecomment-161084336 StyleCop classic doesn't report any problems in attributes at all.

[2015-12-02 13:48] whut opened #1885 "Change some configuration options into SX "alternative" rules"
This is just something to consider.

I believe that, like in StyleCop "classic", the rules should not be configurable, this way there is less confusion (and issues like #1847), less cases for maintaing stylecop.json for each project and more unification among different projects. In StyleCop "classic" not configurable rules was considered a feature.

Also it duplicates the concept of of SX.... "alt

[2015-12-02 14:28] sharwell commented on #1885
I was originally of the same overall opinion. However, as things progressed it became clear that the "SX" rules approach did not offer a good long term solution.

1. With configuration, the expected behavior of rules is clear, regardless of which rules are enabled or disabled.
1. With configuration, if we ever have a release that has a bug in a rule that makes it misbehave, users can temporarily d

[2015-12-02 19:54] oatkins opened #1886 "SA1115 (Parameter must follow comma) generates diagnostic when parameter list contains #pragma directives"
The following code generates a SA1115 diagnostic.

    public void Baz()
    {
        Bar(
    #pragma warning disable CS4014
            1,
    #pragma warning restore CS4014
            2);
    }

It shouldn't.

(The suppression here doesn't make sense, but it's common to use this particular suppression when intentionally not awaiting an async method.)

[2015-12-02 20:52] shaggygi opened #1888 "Question: Pointing to an external stylecop.json file for header information"
When using the rule SA1633, there is a stylecop.json file created/added to the project.  Is there a way to reference this file external to the project?  Meaning, if you have many projects/solutions over time, you would begin to get several stylecop.json files that define your header info.  This would create a maintenance issue on having to manually updating each stylecop.json when needing to updat

[2015-12-02 22:02] yaakov-h commented on #1885
I believe the current Visual Studio default is System first.

[2015-12-02 23:11] #1878 closed

[2015-12-02 23:17] sharwell commented on #1885
The Visual Studio default *used* to be placing System using directives first. That was changed at some point, and an option was provided to restore the original behavior.

Changing the default behavior of SA1200 to not place System using directives first would force a large number of users to reformat their code. This is something we generally want to avoid. To date, the only change we made to the

[2015-12-02 23:42] sharwell commented on #1888
We use the [Add as Link](https://msdn.microsoft.com/en-us/library/windows/apps/jj714082.aspx) functionality in Visual Studio to make sure the same **stylecop.json** file on disk is used by all of the projects.

[2015-12-02 23:43] sharwell commented on #1888
Could you provide an example of what you mean by this?

[2015-12-02 23:46] sharwell commented on #1886
@vweijsters @pdelvo Do we want to include this in RC 2?

[2015-12-02 23:48] sharwell commented on #1882
@vweijsters Are you able to update SA1133 and SA1134 (documentation + impl + tests) to exclude parameters and type parameters from analysis? I'd like to include this in RC 2 since it makes these new rules easier to adopt.

[2015-12-02 23:58] pdelvo commented on #1879
@vweijsters Are you workin on this? If not I would like to grab this.

@vweijsters @sharwell Do we want to include this is rc2? My fix would be to write a custom fix all provider. That would also improve performance.

[2015-12-03 01:47] sharwell commented on #1879
Normally I would say no, but we've already had a bug report (on gitter I think) regarding the performance of this code fix. If the current fix is easily converted to support a custom fix all then I think we could include it.

[2015-12-03 02:56] shaggygi commented on #1888
Thanks.  I think the Add as Link is what I was looking for.

So if the approach is to use Add as Link to stylecop.json (or preferably another specific file name based on certain projects I might have; blahstylecop.json), let's say I use the basic info in the header for a few projects.  Later, I add another variable to be included in the header (Created By, etc.).

This change would make future pro

[2015-12-03 06:09] whut commented on #1885
This is exactly what Microsoft decided to do in Visual Studio 2012, they decided to change the default. [Here](https://connect.microsoft.com/VisualStudio/feedback/details/775702/organize-usings-no-longer-puts-system-references-first-bug-or-feature-change) is the reason why, wasn't that important, still they had no problem with changing it. As they did that, StyleCop should also have no problem wit

[2015-12-03 06:26] whut commented on #1885
Allow me to disagree:

I currently believe that a single rule that enforce exactly one style of coding is clearer, than rule that can enforce different approaches. The configuration is for "advanced users", people that want to change the already established and accepted so long ago by StyleCop community default. Each rule have some rationale behind it, there is a reason for example why "this" pref

[2015-12-03 11:50] pdelvo commented on #1875
@jimmymain Could you try to attach a visual studio instance to your crashing one and break on all exceptions? The code fix is relatively complicated and it will be very hard to track this down without some more information.

Im not sure, maybe this will also get logged into visual studio's Activity log. Maybe you have to start visual studio with the [Log switch](https://msdn.microsoft.com/en-us/li

[2015-12-03 13:32] GraemeBradbury commented on #1606
To add my two cents to this.

WPF has a very common type `RoutedEventHandler` so seeing `(_,__) => {...}` when responding to events is rather normal.

While it would be better if C# supported `_` as a syntax for ignored parameters (like other languages). Using multiple underscore to communicate parameters as being unused is still better than using comments to communicate unuse. It also falls into

[2015-12-03 14:22] sharwell commented on #1885
Certainly. The most obvious case is the way `UsingsCodeFixProvider` worked with `System` using directives. Currently we use the **systemUsingDirectivesFirst** configuration option, and SA1208, SA1210, and `UsingsCodeFixProvider` behave according to the specified value. Prior to this (specifically, prior to #1809), the behavior of `UsingsCodeFixProvider` actually changed based on whether or not SA1

[2015-12-03 14:28] sharwell commented on #1885
This is certainly a unique advantage of StyleCop Classic in some situations. One thing to remember for StyleCop Analyzers is when we evaluate potential new rules, one of our main discussion points is what a code fix would look like. By ensuring rules are crafted such that code fixes are straightforward and accurate, team members can easily adhere to the accepted coding styles without needing to un

[2015-12-03 14:43] #1876 closed

[2015-12-03 14:47] sharwell commented on #1818
@dmitriyse Reported that there is *no* ordering of the directives shown above which does not report either SA1208 or SA1210.

[2015-12-03 14:48] sharwell opened #1891 "Document change in behavior for global::System using directives"
StyleCop Analyzers treats the `global::` prefix for using directives differently from StyleCop Classic. This deviation needs to be documented in KnownChanges.md.

[2015-12-03 14:52] jimmymain commented on #1875
Hi Dennis

I will try - but it stopped recurring so I might not be able to reproduce
it.

On Thu, 03 Dec 2015 at 1:50 PM Dennis Fischer <notifications@github.com>
wrote:

[2015-12-03 15:23] pdm1985 opened #1892 "StyleCopViolations.xml output file not generated"
The file "StyleCopViolations.xml" seems not to be generated anymore like in previous stylecop versions. Does it have another name?

[2015-12-03 17:21] sharwell commented on #1892
Duplicate of #1090 / #1178.

[2015-12-03 17:22] #1892 closed

[2015-12-03 17:22] whut commented on #1892
I believe it is not needed now, as the StyleCop warnings are reported by the C# compiler as the SA*** warnings. To save build log with warnings use the /filelogger switch to msbuild ([here](https://msdn.microsoft.com/en-us/library/ms171470.aspx#Anchor_1) is the documentation)

[2015-12-03 17:37] whut commented on #1885
Thanks for explanations!

That is indeed bad that SA1210 depends on SA1208, but configuration option does not help. It only adds additional way of disabling SA1208 (like in the comment by @vweijsters in #1747). If there will be any issues with SA1208 requiring us to remove it (note that this alone is a very corner case, so I'm not sure if it should be optimized), regardless which way we choose to

[2015-12-04 14:28] vweijsters commented on #1886
I'm leaning towards including it, but there are more issues with SA1115 than the one described. For example, the following code should also not produce SA1115, but it currently does:
[code]
The same construction should probably also be allowed for `//// comment`.

I think that these issues should also be addressed before it can be included.

[2015-12-04 14:37] vweijsters commented on #1882
@sharwell I will work on this today.

[2015-12-04 15:09] Genarij opened #1896 "stylecop.json seems to be ignored"
Hi folks,

probably user error but stylecop.json is just not working for me. I followed Configuration.md for easy creation of json file. However when I adjusted the company tag it still gives me "PlaceholderCompany".
Followed all the suggestions in [https://github.com/DotNetAnalyzers/StyleCopAnalyzers/issues/1720].

ProjectFile:
[code]
(so in it's own item group)

Json file:
[code]

- Reloaded pro

[2015-12-04 15:16] sharwell commented on #1896
See [EnablingConfiguration.md](https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/EnableConfiguration.md).

[2015-12-04 15:24] Genarij commented on #1896
....this gives me an "Invalid child element" warning.
Works though. Thanks!

[2015-12-04 15:24] #1896 closed

[2015-12-04 15:24] sharwell commented on #1896
:+1:

[2015-12-04 15:29] sharwell commented on #1603
Special thanks to @daveaglick who unblocked my testing on this!

[2015-12-04 15:30] daveaglick commented on #1603
:thumbsup:

[2015-12-04 15:31] bexxx opened #1897 "reorder using statement fix duplicates leading trivia (SA1210) (1.0.0-rc1)"
[code]

fixing this will duplicate the copyright header.

[2015-12-04 15:55] sharwell opened #1899 "Update SA1605/SA1607 to handle included documentation"
The issues described in #1603 apply to SA1605 and SA1607 as well.

[2015-12-04 15:56] sharwell opened #1900 "Update SA1608 to handle included documentation"
The issue described in #1603 applies to SA1608 as well.

[2015-12-04 15:58] sharwell opened #1901 "Update SA1609 (PropertyDocumentationMustHaveValue) to handle included documentation"
The issue described in #1603 applies to SA1609 as well.

[2015-12-04 15:59] sharwell opened #1903 "Update SA1610 (PropertyDocumentationMustHaveValueText) to handle included documentation"
The issue described in #1603 applies to SA1610 as well.

[2015-12-04 16:00] sharwell opened #1904 "Update SA1611 (ElementParametersMustBeDocumented) to handle included documentation"
The issue described in #1603 applies to SA1611 as well.

[2015-12-04 16:00] sharwell opened #1905 "Update SA1612 (ElementParameterDocumentationMustMatchElementParameters) to handle included documentation"
The issue described in #1603 applies to SA1612 as well.

[2015-12-04 16:01] sharwell opened #1906 "Update SA1613 (ElementParameterDocumentationMustDeclareParameterName) to handle included documentation"
The issue described in #1603 applies to SA1613 as well.

[2015-12-04 16:02] sharwell opened #1907 "Update SA1614 (ElementParameterDocumentationMustHaveText) to handle included documentation"
The issue described in #1603 applies to SA1614 as well.

[2015-12-04 16:02] sharwell opened #1908 "Update SA1616 (ElementReturnValueDocumentationMustHaveText) to handle included documentation"
The issue described in #1603 applies to SA1616 as well.

[2015-12-04 16:03] sharwell opened #1909 "Update SA1617 (VoidReturnValueMustNotBeDocumented) to handle included documentation"
The issue described in #1603 applies to SA1617 as well.

[2015-12-04 16:03] sharwell opened #1910 "Update SA1618 (GenericTypeParametersMustBeDocumented) to handle included documentation"
The issue described in #1603 applies to SA1618 as well.

[2015-12-04 16:04] sharwell opened #1911 "Update SA1619 (GenericTypeParametersMustBeDocumentedPartialClass) to handle included documentation"
The issue described in #1603 applies to SA1619 as well.

[2015-12-04 16:05] sharwell opened #1912 "Update SA1620 (GenericTypeParameterDocumentationMustMatchTypeParameters) to handle included documentation"
The issue described in #1603 applies to SA1620 as well.

[2015-12-04 16:05] sharwell opened #1913 "Update SA1621 (GenericTypeParameterDocumentationMustDeclareParameterName) to handle included documentation"
The issue described in #1603 applies to SA1621 as well.

[2015-12-04 16:06] sharwell opened #1914 "Update SA1622 (GenericTypeParameterDocumentationMustHaveText) to handle included documentation"
The issue described in #1603 applies to SA1622 as well.

[2015-12-04 16:07] sharwell opened #1915 "Update SA1625 (ElementDocumentationMustNotBeCopiedAndPasted) to handle included documentation"
The issue described in #1603 applies to SA1625 as well.

[2015-12-04 16:07] sharwell opened #1916 "Update SA1627 (DocumentationTextMustNotBeEmpty) to handle included documentation"
The issue described in #1603 applies to SA1627 as well.

[2015-12-04 16:08] sharwell opened #1917 "Update SA1642 (ConstructorSummaryDocumentationMustBeginWithStandardText) to handle included documentation"
The issue described in #1603 applies to SA1642 as well.

[2015-12-04 16:09] sharwell opened #1918 "Update SA1643 (DestructorSummaryDocumentationMustBeginWithStandardText) to handle included documentation"
The issue described in #1603 applies to SA1643 as well.

[2015-12-04 16:10] sharwell opened #1919 "Update SA1648 (InheritDocMustBeUsedWithInheritingClass) to handle included documentation"
The issue described in #1603 applies to SA1648 as well.

[2015-12-04 16:11] sharwell opened #1920 "Update SA1651 (DoNotUsePlaceholderElements) to handle included documentation"
The issue described in #1603 applies to SA1651 as well.

[2015-12-04 17:06] #1891 closed

[2015-12-04 17:06] #1818 closed

[2015-12-04 17:07] #1882 closed

[2015-12-04 19:55] soerennielsen commented on #1863
I would suggest that you emit a warning if there are any rules enabled that depends on the xml documentation being generated.

[2015-12-04 19:57] soerennielsen commented on #1863
And the xml doc generation is not enabled of course 😏

[2015-12-04 20:02] sharwell commented on #1863
@soerennielsen We do exactly that. The problem is people have been disabling the warning rather than fix it.

[2015-12-04 20:24] #1603 closed

[2015-12-04 20:24] #1879 closed

[2015-12-04 20:43] vweijsters opened #1921 "SA1115 should allow comments between parameters."
The following code should not produce SA1115, but it currently does:

[code]

The same construction should probably also be allowed for `////` comments. `//` comments will not work because they require an empty line before them and that will (and shall) trigger SA1115.

[2015-12-05 15:25] NikolayIT opened #1923 "SA1516 inconsistency with classic StyleCop when assembly-wide attribute is not separated by a blank line from the class definition"
For example SA1516 is reported for the following code in the classic StyleCop but not in StyleCopAnalyzers:

[code]

I suppose we have to choose between:
- Documenting it and leave it the way it is now
- Fixing it (I will grab it and fix it if we decide this is the way we will solve this)

[2015-12-05 15:43] sharwell commented on #1923
Does StyleCop Analyzers at least *allow* you to separate these items with a blank line? If so, I think we can just file an issue to fix it for the next (post-1.0) release.

[2015-12-05 15:49] NikolayIT commented on #1923
If I separate it with blank line StyleCop Analyzers does not report issues.

[2015-12-05 16:11] sharwell commented on #1923
Cool, we'll just fix it for the next release. :+1:

[2015-12-06 05:39] nbarbettini commented on #739
Grabbing this one

[2015-12-06 13:31] Maxwe11 opened #1924 "SA1134 documentation is misleading"
The following code triggers SA1134

[code]

I know that formatting is off :smile:

[2015-12-06 16:54] vweijsters commented on #1924
This should trigger SA1134 as far as I can determine, nothing wrong there. The `A` and `B` should be on separate lines.

:question: Is your proposal that the rule should be changed to allow this?

[2015-12-06 18:39] sharwell commented on #1924
I agree that SA1134 should be reported here. With `A` and `B` at the end of the line, it's unnecessarily hard to read especially on narrow displays.

[2015-12-06 20:00] Maxwe11 commented on #1924
Form [docs](https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA1134.md)

I see only one attribute in my code :smile:

[2015-12-06 20:06] Maxwe11 commented on #1924
I agree with this but this case not covered by SA1134.

[2015-12-06 20:10] vweijsters commented on #1924
You have a good point there, the documentation is clearly not correct. SA1134 will report a violation whenever the attribute is on a single line with something else.

[2015-12-06 21:12] vweijsters commented on #1761
Grabbing this.

My proposal for the name is: `SA1135 Using directives must be fully qualified`

[2015-12-06 23:58] #1897 closed

[2015-12-07 00:06] sharwell commented on #1761
@vweijsters There is already a pull request open for this (#1762)

[2015-12-07 00:18] #1886 closed

[2015-12-07 02:00] nbarbettini commented on #1924
:question: How's this:

[2015-12-07 08:18] 0x084E commented on #1761
@vweijsters You can undertake it if you want. Maybe someone with more knowledge about roslyn can do it better. I just did it myself because I really wanted to have it.

[2015-12-07 14:53] Trass3r opened #1928 "SA1305 for parameters"
[code]

[2015-12-07 14:56] sharwell commented on #1928
Does your method override another method in a base class or implement an interface method? I believe this warning is disabled for parameters in those cases.

[2015-12-07 15:03] Trass3r commented on #1928
No it's an NUnit Test method.

[2015-12-07 15:04] Noryoko commented on #1928
The analyzer for SA1305 only looks at fields and local variable declarations. Parameters are not covered. We should look at classic to see if this is a deviation in behavior.

[2015-12-07 15:10] sharwell commented on #1928
@Noryoko we should also make sure it covers all local variables. I had to update SA1312 recently because a bunch of them were missed.

[2015-12-07 15:15] Noryoko commented on #1823
Classic treats them as private. See #1179 and #1180.

[2015-12-07 15:16] Noryoko commented on #1928
I'll take a look this evening.

[2015-12-07 16:58] rkeithhill opened #1929 "Is there a SA rule to help enforce rule 6 of the CoreFx coding guidelines?"
Specifically that there should be a blank line between top level groups and System namespaces come first followed by alphabetically sorted namespaces after that e.g.:
[code]
https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/coding-style.md

[2015-12-07 17:14] sharwell commented on #1928
The issue and fix for SA1312 are in #1856 and #1864, respectively. :smile:

[2015-12-07 17:15] sharwell opened #1930 "Update SA1305 to handle all local variables"
SA1305 suffers from the same issue that affects SA1312 in #1856.

[2015-12-07 17:16] sharwell commented on #1928
@Noryoko I filed issue #1930 to address the local variables issue.

[2015-12-07 17:19] sharwell commented on #1823
I updated this issue to be treated as a proposal, to which I vote :+1:

[2015-12-07 17:20] sharwell commented on #1787
I'm marking this as a proposal.

[2015-12-07 17:26] sharwell opened #1931 "Update SA1200 to treat extern alias directives as using directives"
Currently both SA1200 and `UsingCodeFixProvider` ignore extern alias directives. I propose that these directives be treated as using directives for the purposes of both reporting violations and fixing the code.

[2015-12-07 17:27] sharwell commented on #1931
@vweijsters Can you check and see what StyleCop Classic did in this case? If our current behavior matches StyleCop Classic, then this is an enhancement proposal. Otherwise, this would be a bug that we can just fix for the next release.

[2015-12-07 17:32] sharwell commented on #1929
Duplicate of #1787.

:memo: The linked issue is a proposal which has not yet been accepted. If you want to see this feature added, please consider voting for it.

[2015-12-07 17:33] #1929 closed

[2015-12-07 18:38] rkeithhill commented on #1787
Yes, please make this change to better support the CoreFx coding guidelines.

[2015-12-07 19:58] vweijsters commented on #1924
@nbarbettini Sounds good to me

[2015-12-07 20:09] vweijsters commented on #1931
StyleCop classic ignores `extern alias`.

I assume that you mean that `extern alias` should be sorted on identifier? Because `using` and `extern alias` elements cannot be mixed. Given the different nature of both elements, I would propose to create a new rule for sorting `extern alias` on identifier.